/* COMMON */
main {
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
}
.main__content {
    max-width: unset !important;
}

aside {
    display: none !important;
}

div.banner-form {
    display: none;
}
/* COMMON */
.article {
    overflow: hidden;
}
.article__title {
    margin-top: 30px;
}
.article__items {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(545px, 1fr));
    margin-bottom: 40px;
}

.article__item {
    min-height: 245px;
    background: #ffffff;
    border: 1px solid #6899f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 30px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.article__item:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #6fa0ff 0%, #3f7cf0 100%);
    border: 1px solid #5a94d0;
}

.article__item:hover .article__text,
.article__item:hover .article__text span,
.article__item:hover .article__link {
    color: var(--light-text);
}
.article__item:hover .article__link path {
    fill: var(--light-text);
}

.article__link:hover,
.article__link:active,
.article__link:focus {
    color: var(--light-text) !important;
}

.article__text {
    font-weight: 700;
    font-size: 25px !important;
    line-height: 1.46;
    text-transform: unset !important;
    color: #130d49;
}

.article__text span {
    display: block;
    margin: 10px 0 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
    color: #a7a4a4;
    text-transform: uppercase;
}

.article__search {
    max-width: 496px;
    border-radius: 100px;
    border: 1px solid #A7A4A4;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.article__search input {
    border-radius: 0;
    padding: 8px 0;
    border: none;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.article__search svg {
    width: 16px;
    margin-left: 12px;
}

.article__search button {
    padding: 8px 40px;
    border-radius: 100px;
    font-size: 18px;
}

.article__content {
    font-family: inherit !important;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
}

.pagination {
    gap: 24px;
}

.pagination a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #A7A4A4;
}

.pagination .prev {
    display: none !important;
}

.pagination .next {
    position: relative;
}

.pagination .next a {
    opacity: 0 !important;
}

.pagination .next.disabled {
    display: none !important;
}

.pagination .next::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/pag-next.svg) no-repeat center;
}

.pagination .active a,
.pagination a:hover {
    color: var(--text);
}

.search__items {
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.latest__title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
}

.search__item-title {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search__item-title p {
    font-weight: 400;
    font-size: 20px;
}

.search__item svg {
    width: 20px;
    flex-shrink: 0;
}

.search__info {
    margin-bottom: 50px;
    max-width: 640px;
    font-weight: 400;
    font-size: 20px;
}

.search__item a:hover {
    color: var(--secondary) !important;
}

.latest-articles {
    margin-bottom: 40px;
}

.latest-articles a {
    margin-bottom: 12px;
    color: var(--text) !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
}

.latest-articles a:hover {
    color: var(--text) !important;
}

.latest-articles svg {
    flex-shrink: 0;
}

@media (width <= 640px) {
    .article__items {
        grid-template-columns: 1fr;
    }

    .article__item {
        min-height: unset;
        padding: 20px;
    }

    .search__item-title p {
        font-size: 16px;
    }

}