/* COMMON */
main {
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
}
.main__content {
    max-width: unset !important;
}

aside {
    display: none !important;
}

div.banner-form {
    display: none;
}
/* COMMON */
/* bid */
.bid {
    padding: 45px 0 95px;
}

.bid .container {
    padding-right: 0;
}

.bid__inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.bid .bid__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 12px;
    text-transform: none;
}

.bid__sub-title {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
    color: #525252;
}

.bid .form {
    max-width: 350px;
}

.bid .form-input {
    width: 100%;
    display: block;
    border-radius: 23px;
    border: 1px solid #A7A4A4;
}

.bid .form-input:not(:last-child) {
    margin-bottom: 24px;
}

.bid .send-button {
    width: 100%;
    margin-top: 21px;
    margin-bottom: 14px;
    display: block;
    padding: 14px 60px;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 700;
}

.bid__policy {
    max-width: 370px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #130D49;
}

.bid__image {
    max-width: 470px;
    display: block;
}
/* bid */

@media (width <= 1000px) {
    .bid__image {
        max-width: 300px !important;
    }
}

@media (width <= 768px) {
    .bid .bid__title {
        font-size: 22px !important;
        line-height: 1.4 !important;
        margin-bottom: 10px !important;
    }

    .bid__image {
        max-width: 240px !important;
    }

    .bid__sub-title {
        margin-bottom: 20px !important;
        font-size: 14px !important;
    }

    .bid .form-input:not(:last-child) {
        margin-bottom: 20px !important;
    }
}

@media (width <= 640px) {
    .bid__image {
        display: none !important;
    }

    .bid .bid__title {
        font-size: 24px !important;
    }

    .bid__sub-title {
        margin-bottom: 15px !important;
        font-size: 12px !important;
        max-width: 360px;
    }
}

@media (width <= 500px) {
    .bid .bid__title {
        font-size: 18px !important;
    }

    .bid__sub-title {
        font-size: 12px !important;
        max-width: 280px;
    }

    .bid .form-input:not(:last-child) {
        margin-bottom: 15px !important;
    }

    .bid .container {
        padding-right: 20px !important;
    }

    .bid__policy {
        font-size: 10px !important;
    }

    .bid .send-button {
        padding: 20px 20px !important;
    }
}