/* COMMON */
main {
  width: 100% !important;
  margin: 0 !important;
  display: block !important;
}
.main__content {
  max-width: unset !important;
}

aside {
  display: none !important;
}

div.banner-form {
  display: none;
}
/* COMMON */
/* PROMO */
.promo {
  padding: 40px 0 112px;
}

.promo__title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.4;
  text-transform: uppercase;
}

.promo__sub-title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.43;
  text-transform: uppercase;
  background: linear-gradient(180deg, #fd5b45 0%, #d72d16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.promo__banner {
  display: flex;
  justify-content: flex-end;
  height: 545px;
  background: url(../images/main/promo-banner.jpg) no-repeat center center/cover;
}

.promo__banner-inner {
  position: relative;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px 13px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

.promo__button {
  --size: 203px;
  position: absolute;
  bottom: calc(100% - (var(--size) / 2));
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: var(--size) !important;
  height: var(--size);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
  border-radius: 50%;
}

.promo__row {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.promo__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.promo__text span {
  margin-top: 4px;
  font-weight: 400;
  display: block;
}

.promo__image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.promo__policy {
  max-width: 290px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
/* PROMO */

/* ACHIEVEMENTS */
.achievements {
  padding: 55px 0 50px;
  background: url(../images/main/achievements.jpg) no-repeat center center/cover;
}

.achievements__title {
  margin-bottom: 44px;
}

.achievements__content {
  text-align: center;
  max-width: 930px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.achievement {
  width: fit-content;
}

.achievement__number {
  padding-bottom: 4px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  background: linear-gradient(180deg, #fd5b45 0%, #d72d16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  background-clip: text;
  text-fill-color: transparent;
  border-bottom: 1px solid var(--primary);
}

.achievement__text {
  max-width: 240px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.45;
}
/* ACHIEVEMENTS */

/* CARDS */
.cards {
  padding: 85px 0;
}

.card__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.card {
  padding: 25px 32px;
  display: block;
}

.cards .card:hover {
  border-color: #c0c0c0;
}

.card:nth-child(3n + 2) {
  background: linear-gradient(180deg, #6fa0ff 0%, #3f7cf0 100%);
  color: var(--light-text);
  border: none;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
}
/* CARDS */

/* BANNER-FORM */
.banner-form {
  background: linear-gradient(180deg, #425fc5 0%, #3d259e 100%);
  color: var(--light-text);
  padding: 0 !important;
}

.banner-form__inner {
  display: flex;
  gap: 44px;
  justify-content: space-between;
}

.banner-form .container {
  padding-right: 0 !important;
}

.banner-form__image {
  flex-shrink: 0;
  max-width: 435px;
}

.banner-form .banner-form__title {
  margin-bottom: 4px;
}

.banner-form__sub-title {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.45;
}

.banner-form__form {
  display: block !important;
  max-width: unset !important;
  margin-bottom: 18px;
}

.send-button {
  display: block;
  margin-top: 21px !important;
  padding: 14px 60px !important;
  border-radius: 46px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.banner-from__policy {
  max-width: 450px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}
/* BANNER-FORM */

/* SERVICES */
.services {
  padding: 100px 0;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.services-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 55px 60px;
  border-radius: 10px;
  border: 2px solid #a7a4a4;
  background: url(../images/main/service.svg) no-repeat center center/cover;
}

.services-card:hover {
  border-color: var(--secondary);
  background: linear-gradient(180deg, #ffffff 0%, #ececec 100%);
}

.services-card__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.43;
}

.services-card__sub-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.services-card__list {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.43;
}

.services-card__list li {
  position: relative;
  padding-left: 28px;
}

.services-card__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 1px;
  display: block;
  background: var(--text);
}

.services-card__link {
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
}

.services__button {
  border-radius: 56px;
  width: fit-content;
  margin-inline: auto;
  padding: 12px 40px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}

/* SERVICES */

/* ADVANTAGES */
.advantages {
  padding-bottom: 92px;
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px 95px;
}

.advantages__item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.advantages__image {
  flex-shrink: 0;
  width: 65px;
}

.advantages__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.advantages__text span {
  margin-top: 4px;
  display: block;
  font-weight: 400;
  font-size: 16px;
}
/* ADVANTAGES */

/* ARTICLE */
.article {
  padding: 70px 0 155px;
  background: url(../images/main/article.jpg) no-repeat center center/cover;
}

.article__items {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2, 1fr);
}

.article__item {
  min-height: 245px;
  background: #ffffff;
  border: 1px solid #6899f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.article__item:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #6fa0ff 0%, #3f7cf0 100%);
  border: 1px solid #5a94d0;
}

.article__item:hover .article__text,
.article__item:hover .article__text span,
.article__item:hover .article__link {
  color: var(--light-text);
}
.article__item:hover .article__link path {
  fill: var(--light-text);
}

.article__link:hover,
.article__link:active,
.article__link:focus {
  color: var(--light-text) !important;
}

.article__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.46;
  color: #130d49;
}

.article__text span {
  display: block;
  margin: 10px 0 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #a7a4a4;
}
/* ARTICLE */

/* PARTNERS */
.partners {
  padding: 103px 0 66px;
}

.partners__items {
  display: grid;
  gap: 40px 22px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.partners__item {
  padding: 40px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item:nth-child(n + 9) {
  display: none;
}

.partners__item.show {
  display: flex;
}

.partners__button {
  border-radius: 56px;
  width: fit-content;
  margin-inline: auto;
  padding: 15px 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
/* PARTNERS */

/* FAQ */
.faq {
  background: rgba(111, 160, 255, 0.15);
  border-radius: 2px;
  max-width: 1110px;
  margin-inline: auto;
  padding: 56px 0 !important;
}

.faq__title {
  margin-top: 0 !important;
  text-align: center;
}

.faq__accordions {
  max-width: 920px !important;
  margin-inline: auto;
  padding: 0 !important;
  background: none !important;
}

.accordion__content {
  max-width: calc(100% - 40px);
}
.faq__button {
  margin-top: 13px;
  border-radius: 56px;
  width: fit-content;
  margin-inline: auto;
  padding: 15px 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}
/* FAQ */

/* BID */
.bid__sub-title {
  max-width: 570px;
}
/* BID */
