/* COMMON */
.side__title {
    display: none;
}
.side__cards .card {
    display: none;
}

div.banner-form {
    display: none;
}

main {
    margin-bottom: 78px;
}
/* COMMON */
.services__title {
    margin-top: 36px;
}
.services__cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.services-card {
    position: relative;
    cursor: pointer;
    padding: 45px 52px 45px 64px;
    border-radius: 10px;
    border: 2px solid #A7A4A4;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -ms-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}

.services__image {
    position: absolute;
    max-width: 243px;
    top: 0;
    right: 20px;
    pointer-events: none;
    opacity: .2;
}

.services-card:hover {
    border-color: var(--secondary);
    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
}

.services-card:hover .services__image {
    opacity: 0;
}

.services-card__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
}

.services-card__sub-title {
    color: var(--secondary);
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.services-card__list {
    margin-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px 40px;
}

.services-card__list li {
    padding-left: 30px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.services-card__list li::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: block;
    background: url(../images/mark.svg) no-repeat center;
    width: 20px;
    height: 16px;
}

.services__button {
    border-radius: 56px;
    width: fit-content;
    margin-inline: auto;
    padding: 11px 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.services__link {
    width: fit-content;
    margin-inline: auto;
}

/* SERVICES */
@media (width <= 640px) {
    .services__cards {
        gap: 20px;
    }

    .services-card__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .services-card__title {
        font-size: 20px;
    }

    .services-card__sub-title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .services-card__list li {
        padding-left: 30px;
        position: relative;
        font-size: 14px;
    }

    .services__button {
        padding: 10px 30px;
    }
}