.footer {
  background: var(--dark);
  padding-bottom: 40px;
  color: var(--white);
  font-size: 0.8rem;
  margin-top: 5rem;
}

.footer__top {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer__info {
  margin-top: 2.2rem;
  width: 100%;
  max-width: 540px;
}
.footer__title {
  color: var(--white) !important;
  margin-bottom: 2rem !important;
}

.footer__sub-title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.6rem;
}

.footer__sub-title span {
  font-weight: 700;
  display: block;
  margin-bottom: 0.8rem;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.footer__social {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1.7rem;
}

.footer__social svg:first-child {
  flex-shrink: 0;
}

.footer__social span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social__span {
  flex-shrink: 0;
}

.footer__social a {
  display: inline;
}

.footer__bottom .header__nav {
  margin-bottom: 1.7rem;
  justify-content: space-between;
}

.footer__bottom .footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer a:not(.button):hover,
.footer a:not(.button):active {
  color: var(--primary);
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__right a {
  width: 100%;
  text-align: right;
  text-decoration: underline;
  font-size: 0.6rem;
}

.footer__copyright {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.footer__developer {
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}

.footer__developer a {
  display: inline;
  color: var(--primary);
}

.footer__developer a:hover,
.footer__developer a:active,
.footer__developer a:focus {
  text-decoration: underline;
}
