:root {
  font-size: 20px;
  --gray: #d3d3d3;
  --yellow: #ffea30;
  --black: #222;
  --dark-gray: #9f9f9f;
}

* {
  box-sizing: border-box !important;
}

body.hidden {
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-family: 'Tinos', serif;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

/* HEADER */

.header {
  position: fixed;
  z-index: 10;
}

section:not(.mainpage_main) {
  padding-top: 130px;
  padding-bottom: 0;
  color: var(--black) !important;
}

.header__active {
  background: var(--yellow) !important;
  color: var(--black) !important;
  box-shadow: inset 0px 4px 25px rgba(117, 71, 3, 0.19);
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.header__active .header_bottom_navigation-lunk,
.header__active .header_top_right_link {
  color: var(--black);
}

.header__active .header_top_right_link path {
  stroke: var(--black);
}

.header__active .header_bottom_navigation-lunk:hover,
.header__active .header_bottom_navigation-lunk:active,
.header__active .header_bottom_navigation-lunk:focus,
.header__active .header_top_right_link:hover,
.header__active .header_top_right_link:active,
.header__active .header_top_right_link:focus {
  color: #fff;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* MAIN */

.mainpage_main {
  position: relative;
  padding-top: 240px !important;
  padding-bottom: 270px !important;
}

.mainpage_main_left-title {
  font-size: 32px !important;
  color: var(--yellow) !important;
}

.mainpage_banner {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 3rem;
  width: calc(100% - 2.6rem);
  max-width: 1150px;
  margin-inline: auto;
  background: var(--black);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  gap: 1rem 3rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.mainpage_banner_item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mainpage_banner_item_left {
  flex-shrink: 0;
}

.mainpage_banner_item_right h3 {
  color: var(--yellow);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0 !important;
}

/* SERVICES */

.mainpage_services {
  position: relative;
  padding-top: 100px !important;
  background: url('../img/bg-service.svg') no-repeat !important;
}

.mainpage_services_wrapper {
  z-index: 1;
}

.mainpage_services_info {
  gap: 1rem 4rem;
}

.mainpage_services_info_cards {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem !important;
}

.mainpage_services_info_card {
  display: flex;
  flex-direction: row !important;
  border: 1.5px solid var(--gray, #d3d3d3);
  background: #fff !important;
  padding: 1.5rem 2.2rem 1.5rem 0.75rem !important;
  margin-bottom: 0 !important;
  min-height: 240px;
  gap: 0.75rem !important;
  background: #000;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.mainpage_services_info_card_left {
  flex-shrink: 0;
}

.mainpage_services_info_card-title {
  font-size: 1rem !important;
  margin-bottom: 10px !important;
}

.mainpage_services_info_card-undertitle {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.mainpage_services_info_card_price {
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
}

.mainpage_services_info_card_price span {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.mainpage_services_info_cards + .btn {
  width: 18rem !important;
  margin-top: 1rem;
  margin-inline: auto;
}

/* QUIZ */

.mainpage_quiz {
  padding-top: 200px !important;
  padding-bottom: 130px !important;
}

.mainpage_quiz .container {
  padding-right: 0;
}

.mainpage_quiz_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}

.mainpage_quiz_left {
  flex-basis: 35rem;
}

.mainpage_quiz_right {
  flex-basis: calc(100% - 35rem - 2rem);
}

.mainpage_quiz_form_inner {
  display: grid;
  gap: 1.5rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}

.mainpage_quiz_form_inner + .btn {
  background: var(--yellow);
  width: 19rem;
  margin-inline: auto;
}

.select {
  margin-bottom: 0;
  width: 100%;
  display: block;
}

.select__header {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.8rem;
  align-items: center;
  padding: 0.8rem 0.6rem;
  color: var(--dark-gray, #9f9f9f);
  border: 1px solid var(--dark-gray, #9f9f9f);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

.select__header svg {
  flex-shrink: 0;
}

.select__content {
  display: none;
  overflow: hidden;
  border: 1px solid var(--dark-gray, #9f9f9f);
}

.select__content p {
  position: relative;
  cursor: pointer;
  padding: 0.8rem 0.6rem;
  font-size: 0.8rem;
  color: var(--dark-gray, #9f9f9f);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.mainpage_quiz input {
  padding: 0.8rem 0.6rem;
  font-size: 0.8rem;
  border: 1px solid var(--dark-gray, #9f9f9f);
  color: var(--black) !important;
}

.mainpage_quiz input::placeholder {
  color: var(--dark-gray, #9f9f9f) !important;
}

.mainpage_quiz input:focus {
  border-color: var(--yellow);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.select__row h3 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  font-weight: 700;
}

.select__content p::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: none;
  background: url('../img/CheckFilled.svg') no-repeat center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.select__content p:hover,
.select__content p:active {
  color: var(--black);
}

.select__content p:hover::after,
.select__content p:active::after {
  display: block;
}

.select.active .select__content {
  display: block;
}

.select.active .select__header,
.select__header:hover,
.select__header:active {
  border: 1.5px solid var(--yellow);
  color: var(--black);
}

.select.active .select__header svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.mainpage_quiz_right {
}

/* About */
.mainpage_about_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.mainpage_about_wrapper_left {
  flex-basis: calc(100% - 10px - 30rem);
}
.mainpage_about_wrapper_right {
  flex-basis: 30rem;
}

.mainpage_about_wrapper_right_list_item {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.mainpage_about_wrapper_right_list_item svg {
  flex-shrink: 0;
}

.mainpage_about_wrapper_right_list_item h3 {
  font-size: 1rem;
  font-weight: 500;
}

/* Stages */

.stages__wrapper {
  padding: 110px 0;
  background: url('../img/bg-stages.png') no-repeat center center/cover;
  color: #fff;
}

.stages__wrapper_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 3rem;
}
.stages__wrapper_item {
  display: flex;
  gap: 1rem;
}
.stages__wrapper_item_left {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  border: 1px solid var(--dark-gray, #9f9f9f);
  background: rgba(248, 248, 248, 0.1);
  display: grid;
  place-items: center;
  backdrop-filter: blur(12.5px);
}

.stages__wrapper_column {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.stages__wrapper_item_left span {
  display: block;
  font-size: 4rem;
}
.stages__wrapper_item_right h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 4px;
}
.stages__wrapper_item_right p {
  font-size: 0.8rem;
  font-weight: 500;
}

/* STAGES-BANNER */
.stages__banner {
  padding: 2.8rem 0;
  background: var(--black);
}

.stages__banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}

.stages__banner_left {
  flex-shrink: 0;
}

.stages__banner_left h3 {
  margin-bottom: 0 !important;
  color: #fff !important;
  font-size: 1.6rem !important;
}

.stages__banner_slider {
  position: relative;
  overflow: hidden;
}

.stages .swiper_wrapper {
  width: fit-content !important;
}

.stages .swiper-slide {
  width: fit-content !important;
}

.stages .swiper-pagination {
  position: static !important;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-theme-color: var(--yellow);
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: var(--black);
  border: 1px solid var(--dark-gray);
}

.swiper-pagination-bullet:focus {
  border: 1px solid var(--dark-gray) !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.swiper-pagination-bullet:hover {
  background: var(--yellow);
}

/* Completed */

.mainpage_completed .swiper-container {
  max-width: 1050px;
  margin-inline: auto;
  overflow: hidden;
}
.mainpage_completed_cards {
  position: relative;
  margin-inline: auto;
}

.mainpage_completed_card {
  position: relative !important;
  overflow: hidden;
  height: 21rem !important;
  display: flex !important;
  align-items: flex-end;
  /* border: 4px solid var(--yellow); */
  background: var(--yellow);
}

.mainpage_completed_card_body {
  width: 100%;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0.6rem 0.9rem;
  font-weight: 500;
  z-index: 1;
}

.mainpage_completed_card_title {
  font-size: 0.8rem;
  font-weight: 500;
}

.mainpage_completed_card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 15px;
}

.mainpage_completed_card_col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainpage_completed_card_col:first-child span {
  font-weight: 700;
}

.mainpage_completed_card_body_link {
  color: var(--black);
  width: fit-content;
  margin-inline: auto;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration-line: underline;
}

.swiper-button-next {
  background: url('../img/slider-arrow.svg') no-repeat center;
  --swiper-navigation-size: 72px;
}

.swiper-button-prev {
  background: url('../img/slider-arrow.svg') no-repeat center;
  --swiper-navigation-size: 72px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

.mainpage_completed_card_body_link:hover,
.mainpage_completed_card_body_link:active,
.mainpage_completed_card_body_link:focus {
  font-weight: 700;
}

/* SMI */
.smi__wrapper {
  padding-top: 130px;
  padding-bottom: 110px;
  background: url('../img/bg-smi.svg') no-repeat left;
}

.smi__items {
  display: flex;
  gap: 1rem 2.7rem;
  margin-left: auto;
  max-width: 950px;
}

.smi__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.smi__item_text {
  font-size: 1rem;
  font-weight: 500;
}

.smi__item_link {
  color: var(--black);
  font-weight: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.smi__item_link:hover,
.smi__item_link:active,
.smi__item_link:focus {
  text-decoration: underline;
}

/* Reasons */
.reasons_sub-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.reasons_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem 1rem;
}

.reasons_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.reasonos_item_title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.reasonos_item_text {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

/* Bankrotstvo */
.bankrotstvo_top {
  background: var(--black);
}
.bankrotstvo_top_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
  padding: 2rem 0 3rem;
}
.bankrotstvo_top_title {
  margin-bottom: 0 !important;
  color: var(--yellow);
  font-size: 1.6rem !important;
}

.bankrotstvo_top_link {
  background: #fff !important;
  border: none !important;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.BurgerMenu_bottom2 {
  position: absolute;
  bottom: 20px;
}

.BurgerMenu_bottom2 a {
  color: var(--black);
  padding: 5px 0;
  font-weight: 500;
}

.BurgerMenu_bottom .header_bottom_navigation-lunk:hover,
.BurgerMenu_bottom .header_bottom_navigation-lunk:active,
.BurgerMenu_bottom .header_bottom_navigation-lunk:focus,
.BurgerMenu_bottom2 a:hover,
.BurgerMenu_bottom2 a:active,
.BurgerMenu_bottom2 a:focus {
  color: #fff;
}

.bankrotstvo_top_link:hover,
.bankrotstvo_top_link:active,
.bankrotstvo_top_link:focus {
  gap: 15px;
}

.bankrotstvo_bottom {
  padding: 3.2rem 0;
  background: url('../img/bg-bankrot.png') no-repeat center center/cover;
}

.bankrotstvo_bottom_title {
  text-align: center;
  color: #fff;
}

.bankrotstvo_bottom_sub-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
}

.bankrotstvo_bottom_sub-title span {
  color: var(--yellow);
  text-transform: uppercase;
  text-decoration: underline;
}

.bankrotstvo_bottom_wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 3rem;
}

.bankrotstvo_bottom_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 15px;
}

.bankrotstvo_bottom_item_left {
  flex-shrink: 0;
  width: 3.5rem;
  display: grid;
  place-items: center;
  height: 3.5rem;
  font-size: 2rem;
  border: 1px solid var(--dark-gray, #9f9f9f);
  background: rgba(248, 248, 248, 0.1);
  backdrop-filter: blur(12.5px);
}
.bankrotstvo_bottom_item_right h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.bankrotstvo_bottom_right {
  max-width: 24rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--yellow);
}

.bankrotstvo_bottom_wrapper + .btn {
  margin-top: 2rem;
  width: 22rem;
}

/* Reviews */
.reviews__items {
  display: flex;
  gap: 1rem 5rem;
  width: fit-content;
  margin-inline: auto;
}

/* Info */

.info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info_wrapper_left {
  flex-basis: 30rem;
}

.info_wrapper_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.info .btn {
  margin-top: 1.2rem;
}

.info_wrapper_right {
  flex-basis: calc(100% - 10px - 30rem);
}

/* TEAM */

.team-wrapper {
  position: relative;
}

.team-cards {
  overflow: hidden;
  max-width: 1064px;
  margin-inline: auto;
}

.team-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: var(--black);
}

.team-card img {
  width: 100%;
  object-fit: cover;
}

.team-card_body {
  min-height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--black);
  text-align: center;
  color: #fff;
  padding: 0.75rem 1rem;
}

.team-card_body h3 {
  font-size: 1.2rem;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.team-card_body h4 {
  color: var(--dark-gray, #9f9f9f);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-card_body h5 {
  max-width: 15rem;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: 500;
}

/* GUARANTEE */
.guarantee_top {
  padding: 1.3rem 0;
  background: var(--black);
}

.guarantee_top_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 3rem;
}

.guarantee_top_wrapper_left h3 {
  font-size: 1.6rem !important;
  margin-bottom: 4px !important;
  color: var(--yellow);
}

.guarantee_top_wrapper_left p {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.guarantee_top .btn {
  background: #fff !important;
  border-color: #fff !important;
  width: 14rem;
}

.guarantee_top .btn:hover,
.guarantee_top .btn:active,
.guarantee_top .btn:focus {
  border-color: var(--yellow) !important;
  background: var(--yellow) !important;
  color: var(--black) !important;
}

.guarantee_bottom {
  background: url('../img/guarantee.png') no-repeat center center/cover;
  padding: 5rem 0;
}

.guarantee_bottom_wrapper {
  position: relative;
  background: rgba(34, 33, 35, 0.86);
  color: #fff;
  padding: 3rem 1rem;
  width: fit-content;
  margin-inline: auto;
  max-width: 30rem;
  text-align: center;
}
.guarantee_bottom_wrapper_title {
  margin-bottom: 0 !important;
  font-size: 1.6rem !important;
  padding: 0.5rem 3.5rem;
  background: var(--black);
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.guarantee_bottom_wrapper_sub-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.guarantee_bottom_wrapper_text {
  font-size: 0.8rem;
  font-weight: 500;
}

/* BANNER-FORM */
.banner-form_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
}
.banner-form_wrapper_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner-form_wrapper_form textarea {
  resize: vertical;
  min-height: 15rem;
}

.banner-form_wrapper_form textarea,
.banner-form_wrapper_form input {
  padding: 0.8rem 0.6rem;
  color: var(--black);
  border: 1px solid var(--dark-gray);
  font-size: 1rem;
  font-weight: 500;
}

.banner-form_wrapper_form textarea::placeholder,
.banner-form_wrapper_form input::placeholder {
  color: var(--dark-gray);
}

.banner-form_wrapper_left {
  flex-basis: 33rem;
}

.banner-form_wrapper_form_control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.banner-form_wrapper_form_control .btn {
  flex-grow: 1;
}

.banner-form_wrapper_form_control p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.banner-form_wrapper_right {
  display: flex;
  justify-content: flex-end;
  flex-basis: calc(100% - 2rem - 33rem);
}

/* FAQ */
.accordion {
  padding: 1.6rem 2rem;
  cursor: pointer;
  border: 1px solid var(--dark-gray);
}

.accordion:not(:last-child) {
  border-bottom: none;
}

.accordion__content ol {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.accordion__content .btn {
  width: 17rem;
}

.accordion__content ul {
  list-style-type: disc !important;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.accordion__arrow {
  flex-shrink: 0;
}

.accordion__content {
  width: calc(100% - 50px - 15px);
  margin-top: 10px;
  display: none;
  position: static;
  font-size: 1.2rem;
  font-weight: 400;
}

.accordion.active .accordion__content {
  display: block;
}

.accordion.active {
  background: rgba(255, 234, 48, 0.38);
}

.accordion__header svg {
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
}

.accordion.active .accordion__header svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* FOOTER */
.container {
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem 2rem;
}

.footer .header_top_left-logo {
  margin-bottom: 2rem;
}

.footer_left p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.footer_left svg {
  margin-right: 10px;
}

.footer_left span {
  margin-left: 14px;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer_left a {
  color: var(--black);
}

.footer_left a:hover,
.footer_left a:active,
.footer_left a:focus {
  color: var(--yellow);
  text-decoration: underline;
}

.footer_center {
}
.footer_center_navigation {
  max-width: 18rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.25rem 2rem;
}
.footer_center_navigation-lunk {
  color: var(--dark-gray) !important;
  font-size: 1rem !important;
  text-align: left !important;
  margin: 0 !important;
  display: block !important;
}
.footer_right {
  text-align: center;
}
.footer_right .header_top_right {
  color: var(--black) !important;
}

.footer_center_navigation-lunk:hover,
.footer_center_navigation-lunk:active,
.footer_center_navigation-lunk:focus {
  color: var(--yellow) !important;
}

.footer_right_document {
  display: block;
  text-align: right;
  color: var(--dark-gray);
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 0.7rem;
}

.footer_right_document:hover,
.footer_right_document:active,
.footer_right_document:focus {
  color: var(--black);
}

.footer_right .header_top_right_link {
  font-size: 1rem !important;
  color: var(--black) !important;
  margin-bottom: 1.1rem;
}

.footer_right .header_top_right_link:hover,
.footer_right .header_top_right_link:active,
.footer_right .header_top_right_link:focus {
  color: var(--yellow) !important;
}

.footer_right .header_top_right {
  margin-left: auto;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.socials a:nth-child(1):hover path:first-child {
  fill: #34aadf;
}

.socials a:nth-child(2):hover path {
  fill: #00d95f;
}

.socials a:nth-child(3):hover path {
  fill: #0077ff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}

.modal__active {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.5s linear;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(14px);
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}

.modal__content {
  position: relative;
  width: 900px;
  background: var(--bg-brand, #222123);
  padding: 2.7rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.form__modal {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal .title {
  font-size: 2.7rem;
  margin-bottom: 10px !important;
  color: var(--yellow) !important;
}

.modal__sub-title {
  font-size: 1rem;
  font-weight: 500;
  max-width: 26rem;
  margin-bottom: 1.5rem;
}

.form__modal input {
  padding: 1rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form__modal input:focus {
  border-color: var(--yellow);
}

.form__modal * {
  display: block;
  width: 100%;
}

.modal_forget {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration-line: underline;
  color: #fff;
  text-align: right;
}

.modal_register {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.modal_forget:hover,
.modal_forget:active,
.modal_forget:focus,
.modal_register:hover,
.modal_register:active,
.modal_register:focus {
  color: var(--yellow);
}

.code h3 {
  text-align: left;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.4;
  margin-bottom: 8px;
}

.code__row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.code__row input::placeholder {
  color: var(--dark-gray);
}

.code__row input::-webkit-outer-spin-button,
.code__row input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.send-code {
  width: 11rem;
  flex-shrink: 0;
  margin-right: auto;
  font-size: 0.9rem !important;
  padding: 10px 22px !important;
  background: none !important;
  border: 1px solid #fff;
  color: #fff !important;
}

.send-code:hover,
.send-code:active,
.send-code:focus {
  background: var(--yellow) !important;
  color: var(--black) !important;
}

.send-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.send-box p {
  color: #fc2a2a;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
}

.send-box span {
  display: inline;
}

@media (max-height: 700px) {
  .modal__content {
    height: 100%;
    justify-content: flex-start;
    overflow: auto;
  }
}

@media (max-width: 770px) {
  section:not(.mainpage_main) {
    padding: 50px 0 !important;
  }
}

@media (max-width: 370px) {
  .container {
    padding: 0 10px !important;
  }
  section:not(.mainpage_main) {
    padding: 30px 0 !important;
  }
}
