@media (max-width: 2600px) {
  /*------cabinet_main------*/
  /*------cabinet_main------*/
}
@media (max-width: 1440px) {
  /*------cabinet_main------*/
  /*------cabinet_main------*/
  /*------HEADER------*/
  .header_top_right,
  .header_bottom_navigation {
    display: none;
  }
  .header_top_wrapper {
    justify-content: space-between;
  }
  .BurgerBTN {
    display: block;
  }
  .mainpage_main_right_card {
    margin-left: 0;
  }
  .BurgerMenu {
    display: block !important;
  }
  /*------HEADER------*/
}
@media (max-width: 1200px) {
  :root {
    font-size: 18px;
  }
  /*------MAIN-PAGE------*/
  .mainpage_main_left-title {
    font-size: 50px;
  }
  .cabinet-docs-item_row-name {
    max-width: 400px;
  }
  .mainpage_guarantees_wrapper,
  .mainpage_services_info {
    flex-direction: column;
    align-items: start;
  }
  .mainpage_guarantees_left {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .tab1 .mainpage_tabs_info-text {
    margin-bottom: -50px;
  }
  .mainpage_tabs_info_group_colunm_circle-3 {
    max-width: 280px;
    min-height: 280px;
  }
  .mainpage_tabs_info_group_colunm {
    margin-right: 8px;
  }
  .mainpage_tabs_info_group-4 {
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 8px;
    flex-shrink: unset;
  }
  .mainpage_tabs_info_group-4 img {
    margin: 10px;
    flex: 1 1 auto;
    max-width: fit-content;
  }
  /*------MAIN-PAGE------*/

  /*------ABOUT-PAGE------*/
  .about-main__content {
    flex: 0 1 730px;
  }
  /*------ABOUT-PAGE------*/
  /*------NEWS-PAGE------*/
  .news__card:nth-child(3n + 1)::before {
    content: none;
  }

  .news__search-label,
  .news__search-select,
  .news__search-btn {
    margin-bottom: 20px;
  }

  .news__search-label {
    flex: 0 1 288px;
  }

  .news__search {
    flex-wrap: wrap;
    justify-content: center;
  }

  .news__card {
    padding-left: 15px;
  }

  .news__card::after {
    left: 0;
  }

  .news__card:nth-child(3n + 1)::after {
    content: '';
  }
  /*------NEWS-PAGE------*/
}
@media (max-width: 1055px) {
  .knowledge__frame {
    width: 500px;
  }

  .mainpage_banner {
    display: none;
  }
}

@media (max-width: 980px) {
  .mainpage_completed .swiper-container {
    max-width: 700px;
  }

  .team-card {
    max-height: 540px;
  }

  .team-cards {
    max-width: 720px;
  }
}
@media (max-width: 950px) {
  /*------HEADER------*/
  .header_bottom_navigation {
    margin: -8px;
    justify-content: unset;
    flex-wrap: wrap;
  }
  .header_bottom_navigation-lunk {
    margin: 8px;
    flex: 1 1 auto;
  }
  /*------HEADER------*/
}
@media (max-width: 900px) {
  :root {
    font-size: 18px;
  }
  .knowledge__frame {
    width: 300px;
  }

  .stages__wrapper_items {
    grid-template-columns: repeat(1, 1fr);
  }

  .stages__wrapper_item {
    align-items: center;
  }

  .stages__wrapper_item_left {
    width: 5rem;
    height: 5rem;
  }

  .stages__wrapper_item_left span {
    font-size: 3rem;
  }

  .bankrotstvo_bottom_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .bankrotstvo_bottom_right {
    margin-inline: auto;
  }

  .bankrotstvo_bottom_wrapper + .btn {
    margin-inline: auto;
  }

  /*------FOOTER------*/
  .footer_top {
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
  }
  .footer_top_right {
    margin-left: 0px;
    margin-top: 40px;
    align-items: flex-start;
    text-align: left;
  }
  /*------FOOTER------*/

  .cabinet_main_container {
    padding-left: 0;
  }
  /*------MAIN-PAGE------*/
  .mainpage_main_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .mainpage_main {
    background-position: left;
  }

  .iframe__main {
    flex-direction: column;
  }
  .blockIframe {
    margin-top: 20px;
  }
  .mainpage_guarantees1 {
    padding: 30px 0;
  }
  .mainpage_main_left {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  .mainpage_main_right {
    align-items: center;
    margin-left: 0px;
    margin-top: 20px;
  }
  .mainpage_guarantees_right_group {
    max-width: 330px;
  }
  .mainpage_reviews_wrapper {
    flex-direction: column;
    align-items: start;
  }
  .mainpage_reviews_left {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .mainpage_guarantees-condult {
    margin-left: 20px;
  }
  .mainpage_last_group {
    flex-direction: column;
  }
  .mainpage_last_group_colunm {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    max-width: 400px;
    flex-direction: row;
  }
  .mainpage_last_group_colunm-text {
    margin-left: 20px;
  }
  .mainpage_tabs_wrapper {
    flex-direction: column;
  }
  .mainpage_tabs_btns {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .mainpage_tabs_info-wrapper {
    margin-left: 0px;
    max-width: 100%;
  }
  .mainpage_last_wrapper_top {
    flex-direction: column;
  }
  .mainpage_last_top_left {
    flex-direction: row;
    margin-right: 0px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .mainpage_last_top_left_aside {
    margin-top: 0px;
    margin-left: 20px;
  }

  .mainpage_quiz_right,
  .mainpage_about_wrapper_left,
  .info_wrapper_right,
  .banner-form_wrapper_right {
    display: none;
  }
  /*------MAIN-PAGE------*/

  /*------POPULAR-ARTICLES------*/
  .popular-articles_wrapper {
    flex-direction: column;
  }
  .popular-articles_left {
    margin-bottom: 20px;
  }
  .popular-articles_right {
    margin-left: 0px;
  }
  /*------POPULAR-ARTICLES------*/

  /*------ABOUT-PAGE------*/
  .about-main {
    padding: 20px 0 50px;
  }

  .about-main__inner {
    display: block;
  }

  .about-main__content-inner {
    margin-bottom: 20px;
  }

  .popular__links-list {
    margin-bottom: 50px;
  }

  .about-contact {
    padding: 50px 0;
  }

  .about-contact__map {
    flex: 0 1 540px;
  }
  /*------ABOUT-PAGE------*/

  /*------CONTACT-PAGE------*/
  .contact__inner {
    display: block;
  }
  .contact__map-iframe {
    max-width: 700px;
    min-height: 400px;
  }
  .contact__content {
    margin-bottom: 20px;
  }

  .contact {
    padding: 20px 0 50px;
  }

  .contact__box {
    display: flex;
    column-gap: 100px;
  }
  /*------CONTACT-PAGE------*/
  /*------SERVICES-PAGE------*/
  .services__inner {
    display: block;
  }

  .services__paging {
    margin-bottom: 20px;
  }

  .services {
    padding: 20px 0 50px;
  }
  /*------SERVICES-PAGE------*/

  /*------ARTICLE------*/
  .articlepage_wrapper {
    flex-direction: column;
  }
  .articlepage_left {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  /*------ARTICLE------*/
  /*------NEWS-PAGE------*/
  .news__inner {
    display: block;
    margin-bottom: 50px;
  }

  .news__paging {
    margin-bottom: 30px;
  }

  .news__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .news__search {
    margin-bottom: 15px;
  }

  .news {
    padding: 20px 0 50px;
  }
  /*------NEWS-PAGE------*/

  /*------SEARCH-PAGE------*/
  .search__inner {
    display: block;
  }

  .search__content {
    margin-bottom: 50px;
  }

  .search__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .search {
    padding: 20px 0 50px;
  }

  /*------SEARCH-PAGE------*/
  /*------REVIEWS-PAGE------*/
  .reviews__inner {
    display: block;
  }
  /*------REVIEWS-PAGE------*/

  /*------SIGNIN-&-LOGON------*/
  .signin_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .signin_aside {
    margin-top: 40px;
    min-height: fit-content;
    padding: 60px 40px;
    max-width: 100%;
  }
  /*------SIGNIN-&-LOGON------*/

  /*------cabinet_main------*/
  .cabinet_main_nav {
    position: fixed;
    z-index: 10;
    min-height: fit-content;
    height: 100%;
    overflow: auto;
    padding: 40px 20px;
    transform: scaleX(0);
  }
  .BurgerMenuClose2 {
    display: block;
  }
  .cabinet_info {
    padding: 20px;
  }
  /*------cabinet_main------*/

  /*------cabinet_header------*/
  .cabinet_header_right {
    max-width: fit-content;
    flex-direction: column;
    align-items: flex-end;
  }
  .cabinet_header-date {
    margin-bottom: 8px;
  }
  .cabinet_burger-btn-wrap {
    display: block;
    margin-right: 20px;
  }

  .info_wrapper_left {
    flex-basis: 100%;
  }
  /*------cabinet_header------*/
}
@media (max-width: 770px) {
  .knowledge__item {
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
  .knowledge__frame {
    max-width: 500px;
    width: 100%;
  }

  .mainpage_buttons {
    flex-direction: column;
  }

  .team-cards {
    max-width: 580px;
  }

  .mainpage_services,
  .smi__wrapper {
    background: var(--yellow) !important;
  }

  .mainpage_services_info_cards + .btn {
    background: #fff;
  }

  .mainpage_services_info_cards + .btn:hover,
  .mainpage_services_info_cards + .btn:active {
    color: var(--yellow);
  }

  .stages__banner_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .reasons_items {
    grid-template-columns: repeat(2, 1fr);
  }

  .bankrotstvo_top_wrapper {
    flex-direction: column;
  }

  .bankrotstvo_top_title {
    text-align: center;
  }

  .reviews__items {
    flex-direction: column;
    width: 100%;
  }

  .reviews__items img {
    width: 80%;
    margin-inline: auto;
  }

  .footer_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    padding: 80px 0;
  }

  .socials {
    justify-content: flex-start;
  }

  .footer_right_document {
    text-align: left;
  }
}
@media (max-width: 650px) {
  :root {
    font-size: 16px;
  }

  .title {
    font-size: 2rem;
  }

  .mainpage_services_info_right {
    width: 100%;
  }

  .team-cards {
    max-width: 380px;
  }

  .mainpage_services_info_cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: unset;
  }

  .mainpage_services_info {
    margin-bottom: 0;
  }

  .mainpage_services_info_card {
    min-height: 140px;
  }

  .BurgerMenu {
    max-width: unset;
  }

  .mainpage_about_wrapper {
    display: block;
  }

  .cabinet-docs-item_row {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .cabinet-docs-item_row .jq-file {
    top: auto;
    bottom: -22px;
    left: 165px;
  }
  .iframe__main iframe {
    max-width: 300px;
  }
  .blockIframe h3 {
    font-size: 18px;
  }
  .blockIframe p {
    font-size: 16px;
  }

  .guarantee_top_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .accordion__header {
    font-size: 0.9rem;
  }

  .accordion__content {
    font-size: 0.7rem;
  }

  .accordion {
    padding: 0.8rem 1rem;
  }

  .accordion__header svg {
    width: 30px;
    height: 30px;
  }

  .banner-form_wrapper_form_control {
    flex-direction: column;
  }

  .banner-form_wrapper_form_control .btn {
    width: 100%;
  }

  .mainpage_completed .swiper-container {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 0 0 20px;
  }
  .mainpage_quiz_form_inner {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 10px;
  }

  .cabinet_header-usename-wrappper {
    width: fit-content;
  }

  .form__modal {
    width: 100%;
  }

  .team-card_body {
    min-height: 120px;
  }

  .mainpage_quiz_form_inner + .btn {
    width: calc(100% - 10px);
    margin-right: auto;
    margin-left: 0;
  }

  .mainpage_services_info_cards + .btn,
  .bankrotstvo_bottom_wrapper + .btn {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

  .stages__wrapper_item {
    flex-direction: column;
    align-items: flex-start;
  }

  .stages__wrapper_item_left {
    width: 3rem;
    height: 3rem;
  }

  .stages__wrapper_item_left span {
    font-size: 2rem;
  }

  .smi__wrapper {
    padding: 50px 0;
  }

  .smi__items {
    flex-direction: column;
  }

  .reasons_items {
    grid-template-columns: repeat(1, 1fr);
  }

  /*------FOOTER------*/
  .footer {
    padding: 20px 0px;
  }
  .footer_top {
    margin-bottom: 20px;
  }
  .footer_top_left_text_group,
  .footer_top_left_links_group {
    flex-direction: column;
    align-items: center;
  }
  .footer_top_left_text-title,
  .footer_top_left_links-title {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .footer_top_left {
    align-items: center;
    margin-bottom: 20px;
  }
  .footer_top_left_text {
    margin-bottom: 20px;
  }
  .footer_top_left_text_group-colunm {
    margin-bottom: 12px;
  }
  .footer_top_left_text_group-colunm:last-child {
    margin-bottom: 0px;
  }
  .footer_top_left_text_group,
  .footer_top_left_links_group {
    align-items: start;
  }
  .footer_top_right {
    margin-top: 0px;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .footer_bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }
  .footer_bottom-text {
    margin-bottom: 4px;
  }
  .footer_bottom-text:last-child {
    margin-bottom: 0px;
  }
  /*------FOOTER------*/

  /*------MAIN-PAGE------*/
  .mainpage_main {
    padding: 100px 0px !important;
  }

  .btn {
    font-size: 16px !important;
  }
  .mainpage_main_left-title {
    font-size: 36px;
    line-height: 130%;
  }
  .mainpage_main_left-undertitle {
    margin-bottom: 16px;
    font-size: 12px;
  }
  .mainpage_main_left_group-text {
    font-size: 16px;
    text-align: left;
  }
  .mainpage_main_left_group {
    margin-bottom: 20px;
  }
  .mainpage_main_left-prevbtn {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .mainpage_main_right_card-info {
    font-size: 14px;
  }
  .mainpage_guarantees {
    padding: 20px 0px;
    align-items: center;
  }
  .mainpage_guarantees_left {
    margin-bottom: 20px;
    padding-bottom: 16px;
    font-size: 30px;
  }
  .mainpage_guarantees_right_group {
    max-width: 100%;
  }
  .mainpage_guarantees_right_group_title {
    font-size: 24px;
  }
  .mainpage_guarantees_right_group-info {
    font-size: 14px;
  }
  .mainpage_bannerOne {
    padding: 20px 0px;
  }
  .mainpage_bannerOne-title {
    font-size: 32px;
    line-height: 130%;
  }
  .mainpage_bannerOne-info {
    font-size: 14px;
  }
  .mainpage_services {
    padding: 20px 0px;
  }
  .mainpage_services_info {
    margin-bottom: 20px;
  }
  .mainpage_services_info_card {
    padding: 20px;
    margin-bottom: 16px;
  }
  .mainpage_services_info_card:last-child {
    margin-bottom: 20px;
  }
  .mainpage_services_info_card_group {
    flex-direction: column;
    align-items: start;
  }
  .mainpage_services_info_card_group-column {
    margin-bottom: 8px;
  }
  .mainpage_services_info_card_group-column:last-child {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .mainpage_services_info_card-title {
    line-height: 130%;
    font-size: 26px;
  }
  .mainpage_reviews_left {
    flex-direction: column;
    align-items: start;
  }
  .mainpage_guarantees-condult {
    margin-left: 0px;
  }
  .mainpage_reviews_left .mainpage_guarantees_left {
    margin-bottom: 20px;
  }
  .mainpage_reviews_right_info iframe {
    width: 280px !important;
    height: 160px !important;
  }
  .mainpage_reviews_right_info-group {
    flex-direction: column;
  }
  .mainpage_reviews_right_info-group_right {
    margin-left: 0px;
    margin-top: 20px;
  }
  .mainpage_reviews_right {
    margin-left: 0px;
  }
  .mainpage_reviews {
    padding: 20px 0px;
  }

  .mainpage_reviews_right_info-box {
    flex-direction: column;
  }

  .mainpage_reviews_right_info-box img {
    width: 50%;
  }
  .mainpage_guarantees-condult {
    padding: 20px;
  }
  .mainpage_secondorder {
    padding: 20px 0px;
    align-items: center;
    text-align: center;
  }
  .mainpage_secondorder-title {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 16px;
  }
  .mainpage_secondorder-info {
    font-size: 14px;
    margin-bottom: 12px;
    max-width: 100%;
  }
  .mainpage_last {
    padding: 20px 0px;
  }
  .mainpage_last_wrapper {
    align-items: center;
    text-align: center;
  }
  .mainpage_last-logo {
    margin-bottom: 20px;
  }
  .mainpage_last-t2,
  .mainpage_last-prevbtn {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .mainpage_last_group_colunm {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mainpage_last_group_colunm:last-child {
    margin-bottom: 0px;
  }
  .mainpage_last_group_colunm-text {
    margin-left: 0px;
    margin-top: 14px;
  }
  .mainpage_last_group {
    margin-bottom: 20px;
  }
  .mainpage_tabs {
    padding: 20px 0px;
  }
  .mainpage_tabs_btn-name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .tab1 .mainpage_tabs_info-text {
    margin-bottom: 20px;
  }
  .mainpage_tabs_info_group {
    flex-direction: column;
    align-items: center;
  }
  .mainpage_tabs_info_group_colunm {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .mainpage_tabs_info_group_colunm:last-child {
    margin-bottom: 0px;
  }
  .mainpage_tabs_info-wrapper {
    min-height: fit-content;
  }
  .tab3 {
    background-image: none;
  }
  .mainpage_last_top_left {
    flex-direction: column;
  }
  .mainpage_last_top_left_aside {
    margin-left: 0px;
    margin-top: 20px;
    padding: 20px;
  }
  .mainpage_last_wrapper_top {
    align-items: center;
    margin-bottom: 20px;
  }
  .mainpage_last_top_right {
    max-width: 100%;
    justify-content: center;
    margin: -2px;
  }
  .mainpage_last_top_right-card {
    margin: 2px;
  }
  /*------MAIN-PAGE------*/

  /*------GoToQuizCard------*/
  .GoToQuizCard {
    padding: 20px;
  }
  .GoToQuizCard_info {
    align-items: center;
    text-align: center;
  }
  .GoToQuizCard_info-title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 130%;
  }
  .GoToQuizCard_info-undertitle {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .GoToQuizCard_info_group {
    margin-bottom: 20px;
  }
  .GoToQuizCard_info_group-text {
    text-align: left;
  }
  /*------GoToQuizCard------*/

  /*------POPULAR-ARTICLES------*/
  .popular-articles {
    padding: 20px 0px;
  }
  .popular-articles_left-title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .popular-articles_left {
    align-items: start;
  }
  .popular-articles_left_consultation {
    padding: 20px;
    margin-bottom: 20px;
  }
  .popular-articles_left_mainorder {
    padding: 20px;
  }
  .popular-articles_right_card {
    flex-direction: column;
  }
  .popular-articles_right_card_info {
    margin-left: 0px;
    margin-top: 10px;
  }
  .popular-articles_right_wrap {
    margin-bottom: 20px;
  }
  /*------POPULAR-ARTICLES------*/

  /*-----BREADCRAMBS-----*/
  .breadcrumb {
    margin-bottom: 20px;
  }
  /*-----BREADCRAMBS-----*/

  /*------ORDER-PAGES--AND--THANKS-PAGE------*/
  .orderpage_wrapper,
  .thankspage_wrapper {
    max-width: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .orderpage-title,
  .thankspage-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .orderpage,
  .thankspage {
    padding: 20px 0px;
  }
  /*------ORDER-PAGES--AND--THANKS-PAGE------*/

  /*------QUIZ-PAGE------*/
  .quizpage {
    min-height: fit-content;
  }
  .Staps_content {
    align-items: center;
    text-align: center;
  }
  .quizrpage-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .Staps-label-text {
    text-align: left;
  }
  .Staps_inpgroup {
    margin-bottom: 20px;
  }
  /*------QUIZ-PAGE------*/

  /*------ABOUT-PAGE------*/
  .about-main__title {
    font-size: 28px;
  }
  .about-contact__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about-contact {
    padding: 30px 0;
  }
  .about-main {
    padding: 20px 0 30px;
  }
  .about-main__content-inner {
    flex-direction: column-reverse;
  }

  .about-main__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-main__content-img {
    margin: 0 auto;
  }
  .about-contact__inner {
    display: block;
  }

  .about-contact__item {
    margin-bottom: 20px;
  }

  .popular__links-list {
    margin-bottom: 30px;
  }
  .about-contact__map-iframe {
    min-height: 100%;
  }

  .about-contact__map {
    margin-bottom: 20px;
  }
  /*------ABOUT-PAGE------*/
  /*------CONTACT-PAGE------*/
  .contact__map-iframe {
    max-width: 700px;
    min-height: auto;
  }

  .contact {
    padding: 20px 0 30px;
  }

  .contact__box {
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
  }

  .contact__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  /*------CONTACT-PAGE------*/
  /*------SERVICES-PAGE------*/
  .services__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .services__card {
    padding-left: 0;
    padding-top: 0;
  }

  .services {
    padding: 20px 0 30px;
  }
  /*------SERVICES-PAGE------*/
  /*------ARTICLE------*/
  .articlepage {
    padding: 20px 0px;
  }
  .articlepage_nav {
    padding: 20px;
  }
  .articlepage-title {
    font-size: 26px;
  }
  /*------ARTICLE------*/

  /*------NEWS-PAGE------*/
  .news__inner {
    margin-bottom: 30px;
  }

  .news__paging {
    margin-bottom: 20px;
  }

  .news__title {
    margin-bottom: 20px;
  }

  .news__search {
    margin-bottom: 0;
  }

  .news {
    padding: 20px 0 30px;
  }

  .news__card-top {
    top: 20px;
    right: 20px;
    max-width: 290px;
  }
  .news__cards {
    display: block;
  }

  .news__card {
    margin-bottom: 20px;
  }
  /*------NEWS-PAGE------*/

  /*------GOTOFIRSTORDER------*/
  .gotofirstorder {
    padding: 20px 0px;
  }
  .gotofirstorder .container {
    background-image: none;
  }
  .gotofirstorder_wrapper {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  .gotofirstorder-title {
    font-size: 28px;
  }
  .gotofirstorder-text {
    font-size: 16px;
  }
  /*------GOTOFIRSTORDER------*/

  /*------PAYMENT------*/
  .payment__title {
    font-size: 26px;
  }
  .payment__subtitle {
    font-size: 16px;
    max-width: 100%;
  }
  .payment-ask {
    background: #ecf5ff;
    padding: 10px 0 40px;
  }
  .payment__item {
    flex: 0 1 350px;
  }
  /*------PAYMENT------*/
  /*------REVIEWS-PAGE------*/
  .mainpage_reviews_right_info-group {
    display: block;
    width: 100%;
  }

  .OpenCaseImage_wrap--reviwes {
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

  .OpenCaseImage_wrap--reviwes iframe {
    width: 100% !important;
    min-height: 260px !important;
  }

  .reviews {
    padding: 20px 0 40px;
  }

  .reviews__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  /*------REVIEWS-PAGE------*/

  /*------POPUP------*/
  .Popup {
    padding: 20px;
  }
  .PopupClose {
    top: 10px;
    right: 10px;
  }
  .Popup_Staps_content {
    align-items: center;
    text-align: center;
  }
  .Popup_Staps-title {
    font-size: 22px;
  }
  .Popup_Staps-subtitle {
    font-size: 16px;
  }
  .Popup_Staps-phone {
    font-size: 18px;
  }
  /*------POPUP------*/

  /*------SIGNIN-&-LOGON------*/
  .signin_aside {
    margin-top: 20px;
    padding: 20px;
  }
  .signin_main-subtitle {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .signin_main-title {
    font-size: 30px;
  }
  /*------SIGNIN-&-LOGON------*/

  /*------cabinet_main------*/
  /*------cabinet_main------*/

  /*------cabinet_header------*/
  .cabinet_header .container {
    flex-direction: column;
  }
  .cabinet_header_right {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    margin-left: 0px;
  }
  .cabinet_header_left {
    width: 100%;
    margin-bottom: 16px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .cabinet_burger-btn-wrap {
    margin-right: 0;
  }
  /*------cabinet_header------*/

  /*------cabinet------*/
  .cabinet_card {
    padding: 20px !important;
  }
  .cabinet_card_content {
    align-items: center;
    text-align: center;
  }
  .cabinet_card-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .cabinet_card-subtitle {
    margin-bottom: 18px;
  }
  .cabinet_card_writing-off-debts_row-item {
    align-items: center;
  }
  .cabinet_card_docs {
    background-image: none;
  }
  .cabinet_card_stap_content {
    flex-direction: column-reverse;
  }
  .cabinet_card_stap_right {
    margin-bottom: 12px;
  }
  .cabinet_payment_group {
    flex-direction: column-reverse;
    align-items: start;
  }
  .cabinet_payment_group_right {
    align-items: start;
    text-align-last: left;
    margin-bottom: 20px;
  }
  .save-phone-popup {
    padding: 20px;
  }
  .cabinet_help_top_main,
  .cabinet_help_top,
  .cabinet_help_top_bottom {
    padding: 20px;
  }
  .cabinet_help_top_bottom {
    padding-top: 4px;
  }
  .Message-Input {
    padding: 8px;
    min-height: 80px;
  }
  .cabinet_help_top_bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .btn--Message-submit {
    margin-top: 10px;
    position: static;
    align-self: flex-end;
  }
  .jq-file {
    left: unset;
    right: 28px;
    bottom: 90px;
    flex-direction: row;
  }
  .cabinet-docs-filter {
    flex-direction: column;
    align-items: start;
    max-width: 100%;
    width: 100%;
  }
  .cabinet-docs-filter-btn {
    max-width: 100%;
    width: 100%;
  }
  .cabinet-docs-filter-btn:nth-child(2) {
    margin: 8px 0px;
  }
  .cabinet-docs-item-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .cabinet-docs-item_row.adaptive {
    padding-bottom: 32px;
  }
  .cabinet-docs-item_row.adaptive .jq-file {
    top: 100%;
    left: 0;
    transform: translateX(0) translateY(-100%);
  }
  .popC {
    padding: 20px;
  }
  .popC_Stap-title {
    font-size: 18px;
    text-align: center;
  }
  /*------cabinet------*/
}
@media (max-width: 370px) {
  :root {
    font-size: 14px;
  }
  .btn {
    padding: 14px 20px;
    font-size: 14px;
  }
  /*------ABOUT-PAGE------*/
  .about-main__title,
  .about-contact__title,
  .contact__title,
  .services__title,
  .news__title,
  .search__title {
    font-size: 22px;
  }
  /*------ABOUT-PAGE------*/

  /*------CONTACT-PAGE------*/
  .contact__item {
    margin-bottom: 20px;
  }
  /*------CONTACT-PAGE------*/

  /*------SERVICES-PAGE------*/
  .services__card-title {
    font-size: 20px;
  }
  /*------SERVICES-PAGE------*/

  /*------NEWS-PAGE------*/
  .jq-selectbox__select {
    padding: 10px 30px 10px 15px;
  }

  .news__search-label {
    padding: 10px 15px;
  }

  .news__card-top {
    position: static;
  }

  .news__top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
  }
  /*------NEWS-PAGE------*/
  /*------SEARCH-PAGE------*/
  .search {
    padding: 20px 0 30px;
  }

  .search__content {
    margin-bottom: 30px;
  }
  /*------SEARCH-PAGE------*/
  /*------PAYMENT------*/
  .payment__item {
    padding: 25px;
    min-height: 400px;
    margin-bottom: 20px;
  }
  .payment__text {
    font-size: 16px;
  }
  /*------PAYMENT------*/
  /*------REVIEWS-PAGE------*/
  .OpenCaseImage_wrap--reviwes {
    max-height: 200px;
  }

  .OpenCaseImage_wrap--reviwes iframe {
    width: 100% !important;
    min-height: 200px !important;
  }

  .reviews__title {
    font-size: 22px;
  }

  .mainpage_reviews_right_info-group_right-row-t2 {
    white-space: normal;
  }

  .mainpage_reviews_right_info-wrap {
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  /*------REVIEWS-PAGE------*/
}
