.footer {
  padding: 48px 0;
  background: var(--text);
  color: #fff;
}
.footer__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__left {
  display: flex;
  gap: 28px;
  align-items: center;
}
.footer__logo {
  width: 85px;
}
.footer__list {
  display: flex;
  gap: 50px;
}

.footer__left li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.footer a:hover {
  color: var(--orange);
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer__top address {
  max-width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-style: normal;
  text-align: right;
}

.footer__contact p {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.footer__contact a {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__bottom {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media (width <= 1050px) {
  .footer__top address {
    font-size: 18px;
  }

  .footer__list {
    gap: 30px;
  }

  .footer__right {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 30px;
  }
}

@media (width <= 768px) {
  .footer {
    padding: 30px 0;
  }
  .footer__top address {
    max-width: 250px;
    font-size: 16px;
  }

  .footer__top {
    padding-bottom: 15px;
  }

  .footer__bottom {
    padding-bottom: 10px;
  }

  .footer__contact p {
    font-size: 16px;
  }

  .footer__logo {
    width: 20%;
    position: absolute;
    top: 48px;
    transform: translateY(-50%);
    left: 0;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
  }

  .footer__list {
    margin-bottom: 20px;
    gap: 20px;
  }

  .footer__right {
    gap: 20px;
  }

  .footer__top {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width <= 580px) {
  .footer__list {
    gap: 10px;
  }

  .footer__logo {
    width: 90px;
    top: 30px;
  }

  .footer__right {
    gap: 10px;
  }

  .footer__right address {
    max-width: 150px;
  }

  .footer__list li a,
  .footer__contact a,
  .footer__right address,
  .footer__copyright {
    font-size: 10px;
  }
}
