strong {
  font-weight: 700;
}

a {
  display: inline;
}

.accordion__content {
  display: none;
}

.documents {
  position: relative;
  padding: 50px 0;
  /* background: #fff; */
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.document__text {
  position: relative;
}

.document__text p {
  position: relative;
  line-height: 1.5;
}

.documents__title {
  text-transform: unset;
  max-width: unset;
}

.breadcrumbs {
  position: relative;
  color: #fff;
}

.breadcrumbs__link:hover,
.breadcrumbs__link_active {
  color: var(--orange);
}

.link-mobile + .accordion {
  display: none !important;
}

.link-mobile {
  display: block !important;
}

@media (width <= 980px) {
  .document__text {
    font-size: 14px;
  }
}

@media (width <= 768px) {
  .document__text {
    font-size: 12px;
  }
}

@media (width <= 640px) {
  .document__text {
    font-size: 10px;
  }
}

@media (width <= 470px) {
  .document__text {
    font-size: 8px;
  }
}
