@import url('/components/header.css');
@import url('/components/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* Vars */
:root {
  --primary: #094979;
  --darkblue: #0b3758;
  --orange: #e67e0f;
  --text: #2b2b37;
  --grey: #828282;
}
/* Vars */

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

button {
  transition: 0.3s ease;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  padding: 0;
}

body.hidden {
  overflow: hidden;
}

.hidden {
  display: block;
}

input,
textarea {
  display: flex;
  outline: none;
  padding: 5px 30px;
  background: none;
  border: 1px solid var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text);
  max-width: 100%;
}
input::placeholder,
textarea::placeholder {
  color: var(--grey);
}

input.input-valid {
  border-color: green;
}

input.input-invalid {
  border-color: red;
}

a {
  display: block;
  width: 100%;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

img,
svg {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}

main {
  overflow-x: hidden;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  background: #fff;
  color: var(--text);
  overflow-x: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 23px;
  background: var(--primary);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.flat-button {
  width: fit-content;
  padding: 12px 77px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: #ffffff;
  background: var(--primary);
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.button:hover,
.flat-button:hover {
  background: var(--orange);
}

.accordion {
  display: none;
}

.link-mobile {
  display: block;
}

.breadcrumbs {
  position: relative;
  color: #8e8e8e;
}

.breadcrumbs__link:hover,
.breadcrumbs__link_active {
  color: var(--text);
}

/* Checkbox */
.custom-checkbox {
  display: flex;
  gap: 15px;
  cursor: pointer;
  margin-bottom: 60px;
}

.custom-checkbox input {
  display: none;
}

.checkbox-icon {
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey);
}

.checkbox-label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #4d4d4d;
  opacity: 0.8;
}

.checkbox-label a {
  display: inline;
  text-decoration: underline;
}

.custom-checkbox input:checked + .checkbox-icon {
  border: none;
  background: url(/images/checkbox.svg) no-repeat center;
}

/* Checkbox */

/* Form */
form {
  max-width: 440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 22px;
}

.send-button {
  width: 100%;
  color: #fff;
  padding: 12px;
  background: var(--primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.send-button:hover,
.send-button:active,
.send-button:focus-within {
  background: var(--darkblue);
}

.send-button:disabled {
  background: rgba(9, 73, 121, 0.5);
  cursor: default;
}

/* Form */

/* Title */

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.preloader {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(9, 73, 121, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.preloader img {
  z-index: 100;
  display: block;
  width: 120px;
  height: 120px;
}

.preloader.shown {
  display: flex;
}

.modal {
  position: fixed;
  top: -1000%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.modal__active {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s linear;
  background: rgba(9, 73, 121, 0.5);
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.modal__active .modal__content {
  display: flex;
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 370px;
  height: 100%;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  padding: 25px;
}

.modal svg.modal__close {
  flex-shrink: 0;
  cursor: pointer;
  margin-left: auto;
  display: block;
  width: 20px;
  height: 20px;
  fill: #4d4d4d;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.modal svg.modal__close:hover {
  fill: var(--primary);
}

.modal__title.title {
  max-width: 270px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #4d4d4d;
}

.modal input {
  padding: 15px;
  /* margin-bottom: 37px; */
}

.modal textarea {
  display: none;
}

.modal .custom-checkbox {
  align-items: center;
  margin-bottom: 40px;
}

.modal .checkbox-label {
  text-align: left;
}

.thanks-modal .modal__content {
  max-width: 450px;
  padding: 50px;
  height: fit-content;
}

.thanks-modal .modal__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.modal__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.modal .send-button {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.modal__check {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

.btn-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateY(0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

@media (width <= 1000px) {
  .title {
    font-size: 30px !important;
    margin-bottom: 40px !important;
  }
}

@media (width <= 768px) {
  .title {
    font-size: 20px !important;
    margin-bottom: 25px !important;
  }

  .modal__content {
    display: block;
    height: fit-content;
  }
}

@media (width <= 640px) {
  .title {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }

  .thanks-modal .modal__content {
    padding: 20px;
  }

  .modal__content {
    display: block;
  }

  .modal__check {
    width: 60px;
    height: 60px;
  }

  .modal__text {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .modal input {
    padding: 10px;
  }

  .modal .custom-checkbox {
    margin-bottom: 20px;
  }

  .btn-up {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
/* Title */
