* {
	margin: 0;
	padding: 0;
}

a,
a:visited {
	text-decoration: none;
	color: darkred;
	font-size: 0.7rem;
}
main {
	width: 100%;
	max-width: 1200px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color: #04ffff42;
}

.list {
	width: 50%;
	margin: 10px;
	padding: 5px;
	border: 1px dashed;
	box-shadow: 0 0 3px 1px #d19fff;

}

.list-item {
	margin: 5px;
	padding: 5px;
	border: 2px solid #6d26af6e;
	border-left: 0;
	border-right: 0;

}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description {
	width: fit-content;
	overflow-wrap: anywhere;
	margin: 1rem 0;
	font-size: 0.8rem;
	color: darkgray;
}

.title_for_update {
	display: flex;
	align-items: center;
}
.date {
	text-align: end;
	font-style: italic;
	color: darkgray;
	font-size: 0.8rem;
}

.form_for_added {
	width: 50%;
	margin: 2rem auto;
	border: 3px groove;
	padding: 5px;
}

.row_added {
	display: flex;
	justify-content: space-between;
	margin: 15px 5px;
}

.insert {
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

.insert input {
	width: 30%;
	margin: inherit;
}

input {
	padding: 5px 10px;
}

.date {
	display: flex;
	justify-content: space-between;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-top: 5px;
}

.check {
	margin-left: 15px;
}

.line-through {
	text-decoration: line-through;
}

.hidden {
	display: none;
}

.header {
	width: fit-content;
}

input[type="submit"] {
	border: 2px groove;
	border-radius: 4px;
	color: cadetblue;
	background-color: #beffff;
}

@media screen and (max-width: 400px) {
	.list {
		width: 350px;
	}
	.form_for_added {
		width: 350px;
	}
}


