.calendar {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(0deg, #094979, #094979), #ffffff;
  color: #fff;
}

.promo__title {
  text-align: left;
  margin-bottom: 60px;
  color: var(--primary);
}

.calendar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(/images/document.png) no-repeat center center/cover;
  pointer-events: none;
}

.calendar__items {
  display: flex;
  justify-content: center;
  gap: 60px 48px;
  flex-wrap: wrap;
}

.calendar__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.calendar__item {
  position: relative;
  width: fit-content;
  padding: 25px 40px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a.calendar__item:hover {
  background: var(--orange);
  color: #fff;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.photos {
  padding: 100px 0;
}

.photo__swiper {
  --swiper-theme-color: #878787;
}

.photos__slide {
  height: 700px;
  padding: 0 90px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  --swiper-theme-color: var(--orange);
}

.photo__swiper img {
  object-fit: cover;
}

@media (width <= 1024px) {
  .calendar {
    padding: 90px 0;
  }

  .calendar__content {
    gap: 90px;
  }

  .calendar__items {
    gap: 60px 40px;
  }

  .calendar__item {
    font-size: 18px;
    padding: 20px 35px;
  }

  .photos {
    padding: 80px 0;
  }

  .photos__slide {
    height: 500px;
  }
}
@media (width <= 768px) {
  .calendar {
    padding: 60px 0;
  }

  .calendar__content {
    gap: 60px;
  }

  .calendar__items {
    gap: 40px 20px;
  }

  .calendar__item {
    font-size: 14px;
    padding: 10px 20px;
  }

  .photos {
    padding: 60px 0;
  }

  .photos__slide {
    height: 300px;
    padding: 0 50px;
  }
}
@media (width <= 640px) {
  .calendar {
    padding: 50px 0;
  }

  .calendar__content {
    gap: 50px;
  }

  .calendar__items {
    gap: 24px 18px;
    justify-content: flex-start;
  }

  .calendar__item {
    font-size: 12px;
    padding: 5px 10px;
  }

  .photos {
    padding: 40px 0;
  }

  .photos__slide {
    height: 250px;
    padding: 0 40px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }
}
@media (width <= 470px) {
  .calendar {
    padding: 30px 0;
  }

  .calendar__content {
    gap: 30px;
  }

  .calendar__items {
    gap: 12px 15px;
  }

  .calendar__item {
    font-size: 10px;
    padding: 5px;
  }

  .photos {
    padding: 30px 0;
  }

  .photos__slide {
    height: 200px;
  }
}
