.promo__sub-title {
  font-size: 32px;
  margin-inline: 0;
  max-width: 920px;
  color: var(--orange);
  margin-bottom: 30px;
}

.promo__link {
  padding: 5px 10px;
  width: fit-content;
  color: var(--orange);
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--orange);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin-bottom: 100px;
}

.promo__link:hover,
.promo__link:active,
.promo__link:focus {
  color: #fff;
  gap: 10px;
  background: var(--orange);
}

.promo__link:hover path,
.promo__link:active path,
.promo__link:focus path,
.promo__link:hover g,
.promo__link:active g,
.promo__link:focus g {
  stroke: #fff;
  fill: #fff;
}

.promo__link svg {
  width: 15px;
  height: 15px;
}

.about__card {
  position: relative;
  width: calc(100% / 4);
}

.about__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.about__link + .about__text {
  color: var(--orange);
}

.info__sub-title {
  color: var(--orange);
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.info__list {
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  list-style-type: disc;
  color: var(--primary);
}

@media (max-width: 1024px) {
  .info {
    padding: 80px 0;
  }

  .promo__sub-title,
  .info__sub-title {
    font-size: 28px;
  }

  .promo__link {
    margin-bottom: 80px;
  }

  .info__list {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .info {
    padding: 60px 0;
  }

  .promo__sub-title,
  .info__sub-title {
    font-size: 22px;
  }

  .promo__link {
    margin-bottom: 60px;
  }

  .info__list {
    max-width: 450px;
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .info {
    padding: 40px 0;
  }

  .promo__sub-title,
  .info__sub-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .promo__link {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .info__list {
    margin-left: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .info {
    padding: 30px 0;
  }

  .promo__sub-title,
  .info__sub-title {
    font-size: 12px;
  }

  .promo__link {
    font-size: 8px;
    margin-bottom: 30px;
  }

  .info__list {
    font-size: 10px;
  }
}
