// Colors
$primary: #6A994E;
$secondary: #1D252B;
$accent: #BC4749;
$bor-accent: #D66567;
$text: #fff;
$body-bg: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);

// Container
$cont-w: 1195px;
$cont-pad: 15px;

// Font
$def-fs: 20px;
$ff: "Inter", sans-serif;
