@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* Vars */
:root {
  font-size: 20px;
  /* ---COLOR--- */
  --white: #fff;
  --primary: #ffc01f;
  --primary-hover: #2f2e2e;
  --secondary: #162e3c;
  --wrong: #d70d0d;
  --orange: #f99826;
  --link-hover: #f88b0c;
  --card: #ffc076;
  --gray: #eeeeee;
  --border: #b2b2b2;

  /* ---SIZE--- */
  --fs-s: 1rem;
  --fs-m: 1.5rem;
  --fs-l: 1.8rem;
  --fs-xl: 2.8rem;
  --fs-xxl: 3rem;
  --radius: 6px;
}
/* Vars */
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body.hidden {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

main {
  padding-top: 100px;
  overflow-x: hidden;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--white);
  color: var(--secondary);
  overflow-x: hidden;
}

section:not(.promo) {
  padding-top: 5.5rem;
}

.about, .reviews, .cases, .support, .contact, .policy {
  padding-top: 40px !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--border);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::selection {
  background: var(--primary);
  color: var(--white);
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===COMPONENETS=== */
.title {
  font-size: var(--fs-xxl);
  font-weight: 700;
  margin-bottom: 2.8rem;
  text-align: center;
}
/* BUTTON */
.button {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 14px 24px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid transparent;
  width: fit-content;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  -webkit-border-radius: 27px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  cursor: default !important;
  background: #eee !important;
  color: #bbb !important;
  box-shadow: none !important;
}


.button:is(.button-primary) {
  background: var(--primary);
  border-color: transparent;
  color: var(--white);
}

.button:is(.button-primary):where(:hover, :active, :focus) {
  background: var(--primary-hover);
  color: var(--primary);
  box-shadow: 0px 2px 4px -1px rgba(35, 105, 227, 0.20), 0px 4px 5px 0px rgba(35, 105, 227, 0.14), 0px 1px 10px 0px rgba(35, 105, 227, 0.12);
}

.button:is(.button-border) {
  background: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
  padding: 10px 24px;
}

.button:is(.button-border):where(:hover, :active, :focus) {
  background: var(--secondary);
  color: var(--white);
}
/* BUTTON */

/* INPUT */
input,
textarea {
  position: relative;
  display: flex;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid var(--border);
  background: var(--white);
  font-weight: 400;
  color: var(--secondary);
  width: 100%;
  max-width: 100%;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-overflow: ellipsis;
}

input {
  padding-right: 36px;
}
textarea {
  resize: vertical
}

input:focus,
textarea:focus {
  border-color: var(--primary);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.form_row {
  position: relative;
}

.form_row.error input {
  border-color: var(--wrong);
}

.form_row.error span {
  color: var(--wrong) !important;
}

.form_row::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10%;
  right: 12px;
  width: 1.2rem;
  height: 1.2rem;
}

.form_row.success:has(input)::after {
  background: url("../images/success.svg") no-repeat center/contain;
}

/* INPUT */

/* LINK */
.link {
  display: block;
  width: fit-content;
}

.link:is(.primary) {
  color: var(--primary);
  position: relative;
}

.link:is(.primary):where(:hover, :active, :focus) {
  text-decoration: underline;
}

.link:is(.secondary) {
  color: var(--secondary);
}

.link:is(.secondary):where(:hover, :active, :focus) {
  text-decoration: underline;
}

/* LINK */

/* Colors */
.primary {
  color: var(--primary) !important;
}

.orange {
  color: var(--orange) !important;
}
/* Colors */

/* Font-size */
.fs-s {
  font-size: var(--fs-s);
}

.fs-m {
  font-size: var(--fs-m);
}

.fs-l {
  font-size: var(--fs-l);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}
/* Font-size */


/* ACCORDEON */
.accordion {
  position: relative;
  padding: 24px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 8px;
}

.accordion__header {
  font-size: 20px;
  font-weight: 700;
}

.accordion__content {
  display: none;
  font-size: 18px;
}

.accordion.active .accordion__content {
  margin-top: 1.2rem;
  display: block;
}

.accordion:where(:hover, :active, :focus),
.accordion:is(.active) {
  border-color: var(--primary);
}

.accordion:where(:hover, :active, :focus) .accordion__header,
.accordion:is(.active) .accordion__header {
  color: var(--primary);
}

/* ACCORDEON */
.mobile {
  display: none;
}
/* ===COMPONENETS=== */
/* ===HEADER=== */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 16px 0;
  left: 0;
  background: var(--white);
  z-index: 100;
  transition: padding 0.9s ease;
  -webkit-transition: padding 0.9s ease;
  -moz-transition: padding 0.9s ease;
  -ms-transition: padding 0.9s ease;
  -o-transition: padding 0.9s ease;
  box-shadow: 0px 3px 11px -2px rgba(49, 49, 49, 0.10), 0px 2px 2px 0px rgba(43, 120, 252, 0.14);
}

.header_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.logo:hover,
.logo:active,
.logo:focus {
  opacity: 0.8;
}

.header_list {
  display: flex;
  flex-grow: 1;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: center;
}

.header_list_link {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--secondary);
}

.header_list_link:where(.active, :hover, :active, :focus) {
  color: var(--primary) !important;
}

.header_list_link:is(.active) {
  text-decoration: underline;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.header_contacts_time {
  font-size: 12px;
  color: var(--border);
  margin-bottom: 4px;
}
.header_contacts_link-title {
  font-size: 0.9rem;
  font-weight: 700;
}
.header_contacts_link {
  font-size: 12px;
  font-weight: 700;
}

.burger {
  position: relative;
  width: 25px;
  min-width: 25px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: var(--secondary);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.burger.burger__active {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.burger.burger__active span {
  transition: 0.4s;
  height: 1px;
  position: absolute;
}

.burger.burger__active span:nth-child(1) {
  top: 50%;
  left: 0;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  -o-transform: rotate(45deg) translateY(-50%);
}

.burger.burger__active span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
}

.burger.burger__active span:nth-child(3) {
  display: none;
}

.burger-menu {
  position: absolute;
  top: -1000px;
  right: 0;
  width: 100%;
  max-width: 345px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px 0 35px;
  background: var(--white);
  z-index: 1000;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  box-shadow: 0px 3px 11px -2px rgba(49, 49, 49, 0.10), 0px 2px 2px 0px rgba(43, 120, 252, 0.14);
}

.close_modal.close_burger {
  top: 12px;
  right: 24px;
  width: unset;
}

.burger_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-bottom: 32px;
}

.burger_list_link {
font-size: 20px;
}
.burger_title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 4px;
}
.burger_link {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.burger-menu.active {
  top: -12px;
  right: -20px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.close_burger svg {
  width: 100%;
}

/* Main Banner */
.main_banner_wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: var(--secondary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--white);
}

.main_banner_form {
  flex-grow: 1;
  padding: 1.5rem 4rem;
}
.main_banner_title {
  font-weight: 700;
  margin-bottom: 1.2rem;
  text-align: center;
}

.main_banner_form_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
}
.main_banner_form_row_left,
.main_banner_form_row_right {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.main_banner_form_row_right .button {
  width: 100%;
}

.main_banner_text {
  color: #eee;
  font-size: 12px;
  font-weight: 400;
}

.form_row_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--border);
  padding: 0 12px;
}
.main_banner_form textarea{
  height: 100%;
  max-height: 118px;
}

.main_banner_image {
  min-width: 380px;
}

.main_banner_image img {
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.main_banner_image img:last-child {
  display: none;
}
/* Main Banner */

/* FOOTER */
.footer {
  padding: 4.5rem 0 4.75rem;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2.8rem;
}

.footer_left {
  max-width: 300px;
}

.footer_info {
  font-size: 14px;
  color: var(--border);
  font-weight: 400;
}

.footer_left .header_contacts_link-title {
  margin-bottom: 8px;
  font-size: 1rem;
}

.footer_left .header_list {
  display: none;
}

.footer_block {
  margin: .8rem 0;
  color: var(--secondary);
}

.footer_left .header_logo {
  margin-bottom: 16px;
}

.footer_block_title {
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer_block_text {
  font-size: 0.7rem;
  font-weight: 400;

}

.footer_middle .header_list {
  flex-direction: column;
  align-items: flex-start;
}

.footer_mobile_map {
  display: none;
  margin-bottom: 12px;
}

.footer iframe {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 3px 11px -2px rgba(49, 49, 49, 0.10), 0px 2px 2px 0px rgba(43, 120, 252, 0.14);
}

.footer_notice {
  font-size: 12px;
  font-weight: 400;
  color: var(--border);
  text-align: right;
}

a.footer_notice:where(:hover, :focus, :active) {
  color: var(--primary);
}

.box-with-img {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.box-with-img_image {
  flex-basis: calc(100% - var(--gap) - var(--bwi-content));
}

.box-with-img_content {
  flex-basis: var(--bwi-content);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.modal__active {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
  background: rgba(0, 0, 0, .5);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 40rem;
  min-height: 30rem;
  height: fit-content;
  padding: 4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background: url("../images/modal.svg") no-repeat left center/cover;
  background-color: var(--white);
  color: var(--secondary);
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 3px 11px -2px rgba(49, 49, 49, 0.10), 0px 2px 2px 0px rgba(43, 120, 252, 0.14);
}

.modal__title {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--secondary);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.modal_control {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}


.close_modal {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  z-index: 1;
  cursor: pointer;
}

.close_modal img {
  width: 100%;
  height: 100%;
}

.modal .main_banner_text {
  margin-top: 16px;
  color: var(--border);
}

.modal_thank_title {
  font-weight: 600;
  margin-bottom: 1.2rem !important; 
}

.modal_text {
  font-size: 1rem;
  margin-bottom: 16px;
}
.modal_link {
  font-weight: 700;
}

.preloader {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  place-items: center;
  background: rgba(0, 0, 0, .5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.preloader_item {
  border: 4px solid var(--primary);
  border-left-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin89345 1s linear infinite;
}

.preloader:is(.shown) {
  display: grid;
}

body:has(.preloader.shown) {
  overflow: hidden;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ===PAGINATOR=== */
.paginator {
  margin-top: 24px;
  width: fit-content;
  margin-inline: auto;
}

.pagination {
  gap: 4px;
  flex-wrap: wrap;
}

.paginator li:not(.disabled),
.paginator span {
  height: 40px;
  overflow: hidden;
  border: 1px solid var(--border);
  background: transparent;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.paginator li:not(.prev, .next) {
  width: 40px;
}

.paginator li:is(.prev, .next) a{
  padding: 10px;;
}

.paginator a,
.paginator span {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--secondary);
  line-height: 1.4;
}

.paginator li:hover:not(.disabled),
.paginator li.active:not(.disabled) {
  background: var(--primary);
  border-color: var(--primary);
}

.paginator li:hover:not(.disabled) a,
.paginator li.active:not(.disabled) a {
  color: var(--white);
}

.paginator li.disabled span {
  background: var(--gray);
  border-color: transparent;
  color: var(--border);
  cursor: default;
  padding: 10px;
}

/* ===PAGINATOR=== */