.main_banner {
  display: none;
}

.footer {
  display: none;
}
.contact_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 3.7rem;
}

.contact_text a {
  display: inline;
  font-weight: 600;
}

.contact_map {
  overflow: hidden;
  z-index: 1;
  position: relative;
  height: 350px;
  background: var(--gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 11px -2px rgba(49, 49, 49, 0.10), 0px 2px 2px 0px rgba(43, 120, 252, 0.14);
}

@media screen and (max-width:680px) {
  .footer {
    display: block;
  }

  .contact_map {
    display: none;
  }

  .contact_info {
    margin-bottom: 0;
  }

  .footer {
    padding-top: 56px !important;
  }
  
}