/* PROMO */
.promo {
  position: relative;
}

.promo_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.promo_wrapper:is(.hide) {
  display: none;
}

.promo_title {
  font-weight: 700;
  margin-bottom: 8px;
}
.promo_subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.promo_text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.promo_items {
  position: relative;
  height: 29rem;
  z-index: 1;
}
.promo_item:is(.swiper-slide) {
  position: relative;
  height: calc(100% / 2 - 1px);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.promo_item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.61);
  z-index: 0;
}

.promo_item:is(.active)::before {
  content: none;
}

.promo_item:is(.active) .promo_item_text {
  transform: none;
  z-index: 5;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.promo_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo_item_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.23) 0%, rgba(20, 20, 20, 0.89) 100%);
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}
/* PROMO */
/* DESTROY */
.destroy_title {
  margin-bottom: 10px !important;
}
.destroy_subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.8rem;
  text-align: center;
}
.destroy_items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}
.destroy_item {
  flex: 1;
  display: flex;
  gap: 16px;
}
.destroy_item_title {
  font-size: 16px;
  font-weight: 400;
}

.destroy_marquee {
  padding: 1rem 0;
  margin: 0 auto;
  overflow: hidden;
  background: var(--secondary);
}
.destroy_marquee_item {
  color: var(--primary);
  font-weight: 600;
  display: flex;
  width: 200%;
  animation: marquee-loop 10s linear infinite;
  -webkit-animation: marquee-loop 10s linear infinite;
}

.destroy_marquee_item span {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

.destroy_marquee_item p {
  white-space: nowrap;
  width: 100%;
}


@keyframes marquee-loop {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-50%);
  }
}
/* DESTROY */
/* STAGES */
.stages_wrapper {
  --gap: 1.2rem;
  --bwi-content: 34rem;
}
.box-with-img {
}
.stages_image img:last-child{
  display: none;
}

.stages_text {
  font-size: 14px;
  color: var(--border);
  max-width: 630px;
}

.box-with-img_left {
}
.stages_content {
}
.stages_items {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 8px;
}
.stages_item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.stages_item_top {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.stages_item_span {
  display: block;
  width: fit-content;
  font-weight: 600;
  flex-shrink: 0;
  padding: 10px 16px;
  background: var(--primary);
  color: var(--white);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.stages_item_title {
  font-size: 0.8rem;
  color: var(--border);
}
.stages_item_text {
  font-size: 18px;
}
/* STAGES */

/* CTA */
.cta_wrapper {
  display: flex;
  overflow: hidden;
  background: var(--secondary);
  color: var(--white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cta_content {
  flex-grow: 1;
  padding: 1.6rem 2.1rem 1.6rem 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.cta_title {
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
}
.cta_text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cta_image {
  min-width: 16rem;
}

.cta_image img {
  height: 100%;
  object-fit: cover;
}

.cta_image img:last-child {
  display: none;
}
/* CTA */

/* Services */
.services_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.services_item {
  padding: 1.2rem 1.6rem;
  background: rgba(254, 232, 207, 0.75);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.services_item_title {
  font-weight: 600;
}
/* Services */

/* Reviews */
.reviews_items {
  display: flex;
  gap: 1.9rem;
  margin-bottom: 1.2rem;
}
.reviews_item {
  flex: 1;
  padding: 1.4rem 1rem;
  color: var(--white);
  background: var(--secondary);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.reviews_item_title {
  font-size: 14px;
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 8px;
}
.reviews_item_text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.reviews_item_author {
  color: var(--border);
  font-size: 16px;
  font-weight: 400;
}

.reviews .link {
  margin-inline: auto;
  font-weight: 700;
}
/* Reviews */

/* Why-we */
.why-we_wrapper {
  --gap: 3rem;
  --bwi-content: 28.4rem;
  display: flex;
  justify-content: space-between;
}

.why-we_items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.why-we_item_top {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 8px;
}
.why-we_icon,
.icon {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  padding: 8px;
  max-width: 2.8rem;
  height: fit-content;
  background: var(--primary);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.why-we_title {
  font-size: 1rem;
  font-weight: 700;
}
.why-we_item_text {
  font-size: 16px;
}

.why-we_wrapper_image img:last-child {
  display: none;
}

/* Why-we */

@media screen and (max-width: 1024px) {
  .services_items {
    grid-template-columns: repeat(2, 1fr);
  }

  .services_item {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .stages_wrapper {
    flex-direction: column;
  } 

  .box-with-img_image,
  .box-with-img_content {
    flex-basis: 100%;
  }

  .reviews_items {
    flex-direction: column;
  }

  .box-with-img_image img:first-child {
    display: none;
  }

  .box-with-img_image img:last-child {
    display: block;
    width: 100%;
  }

  .why-we_wrapper {
    flex-direction: column;
    gap: 1.2rem !important;
  } 

  .destroy_items {
    flex-direction: column;
  }

  .destroy_item {
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  .cta_wrapper {
    flex-direction: column;
  }

  .cta_content {
    padding: 40px 18px 24px;
  }

  .cta_image img:first-child{
    display: none;
  }
  .cta_image img:last-child{
    display: block;
    width: 100%;
    height: fit-content;
  }

  .destroy_subtitle {
    font-size: 16px;
  }

  .destroy_marquee_item {
    font-size: 18px !important; 
  }

  .destroy_marquee_item p:first-child {
    display: none;
  }

  .services_items {
    grid-template-columns: repeat(1, 1fr);
  }

  .promo_items {
    height: 100%;
    overflow: hidden;
  }
  
  .promo_item:is(.swiper-slide) {
    height: 100%;
    max-height: 250px;
  }
  
  .promo_item img {
    max-height: 250px;
  }

  .promo_wrapper {
    padding-top: 10px;
    top: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }

  .promo_title {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .promo_subtitle {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .promo_text {
    font-size: 12px;
    margin-bottom: 12px;
  }
}