.promo {
  color: #fff;
}
.promo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banners {
  position: relative;
  padding-top: 8rem;
  height: 30rem;
  overflow: hidden;
  background-color: var(--dark) !important;
}
.banner1-1 {
  background: url(/images/banner/promo1-1.jpg) no-repeat center center/cover;
}

.banner1-2 {
  background: url(/images/banner/promo1-2.png) no-repeat center center/cover;
}

.banner1-3 {
  background: url(/images/banner/promo1-3.png) no-repeat center;
}

.banner1-3 .promo__inner {
  justify-content: flex-end;
}

.banner2-1 {
  background-color: #fff !important;
}

.banner2-1 {
  background: url(/images/banner/promo2-1.jpg) no-repeat center center/cover;
}

.banner2-1 img {
  top: unset !important;
  right: unset !important;
  bottom: 0;
  left: 0;
  width: fit-content !important;
  height: 100% !important;
  object-fit: cover;
  object-position: right;
}

.banner2-1 .promo__title,
.banner3-1 .promo__title,
.banner3-2 .promo__title,
.banner3-3 .promo__title {
  color: var(--primary);
}

.banner2-1 .promo__sub-title,
.banner3-1 .promo__sub-title,
.banner3-2 .promo__sub-title,
.banner3-3 .promo__sub-title {
  color: var(--text);
}

.title {
  text-align: left !important;
  justify-content: flex-start !important;
}

.banner2-2 {
  background: url(/images/banner/promo2-2.png) no-repeat center center/cover;
}

.banner2-3 {
  background: var(--dark);
}

.banner2-2 img {
  top: unset !important;
  bottom: 0;
}

.banner2-3 img {
  right: unset !important;
  left: 0;
  height: 100% !important;
  object-fit: cover;
}

.banner2-3 .promo__inner,
.banner3-2 .promo__inner {
  justify-content: flex-end;
}

.banner2-3 .promo__info {
  position: relative;
  padding: 1.1rem 2.3rem;
  background: #f4f9ff1a;
  backdrop-filter: blur(25px);
}

.banner2-3 .promo__info::before {
  content: '';
  position: absolute;
  top: 0;
  right: -9.3rem;
  display: block;
  height: 100%;
  width: 9.3rem;
  background: #f4f9ff1a;
  backdrop-filter: blur(25px);
}

.banner3-1 {
  background: url(/images/banner/promo3-1.png) no-repeat center center/cover;
}

.banner3-2 {
  background: url(/images/banner/promo3-2.png) no-repeat center center/cover;
}

.banner3-3 {
  background: url(/images/banner/promo3-3.png) no-repeat left center/cover;
}

.banner3-1 img {
  top: 50% !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.banner3-3 img {
  height: 100% !important;
  object-fit: cover;
}

.banner3-3::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 50%;
  height: 100%;
  display: block;
  background: var(--primary);
  opacity: 0.3;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.banner3-1 .promo__info,
.banner3-2 .promo__info,
.banner3-3 .promo__info {
  max-width: 550px;
}

.banner3-1 .button,
.banner3-2 .button,
.banner3-3 .button {
  width: 20rem;
}

.banners img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 50%;
  height: fit-content;
}

.promo__button {
  width: 100%;
}

.promo__info {
  max-width: 500px;
  z-index: 1;
}

.promo__title {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.9rem;
}
.promo__sub-title {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
}

/* Features */
.features {
  position: relative;
  overflow: hidden;
}

.features__items {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.features__item {
  position: relative;
  width: 35rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem 3rem;
  margin-left: -5000px;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
}

.features__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--primary);
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
}

.features__item h3 {
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.features__item p {
  font-size: 0.7rem;
}

.features__item:nth-child(even) {
  margin-left: auto;
  margin-right: -5000px;
}

.features__item.hovered:nth-child(odd) {
  margin-left: 0;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}
.features__item.hovered:nth-child(even) {
  margin-right: 0;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}

.features__item_icon svg {
  max-width: 2.2rem;
  height: 2.2rem;
}

.features__item_icon {
  flex-shrink: 0;
}

/* Services */
.services__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}
.service__item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  height: 12rem;
  display: flex;
  align-items: flex-end;
}

.service__item:hover img,
.service__item:active img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.service__item a,
.service__item img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.service__item a {
  z-index: 1;
}

.service__item img {
  z-index: -1;
  object-fit: cover;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.service__item p {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.service__item svg {
  flex-shrink: 0;
}

/* Feedback */
.feedback__inner {
  background: url('/images/feedback.jpg') no-repeat top center/cover;
}
.feedback__content {
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding: 1.5rem 0 1.1rem;
  max-width: 27rem;
  margin-left: auto;
}
.form__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  margin-left: 1.5rem;
}

.form__row {
  width: 100%;
  max-width: 18.5rem;
  margin-bottom: 0.75rem;
}

.form__row input {
  width: 100%;
}

.feedback__inner .button span {
  width: 100%;
  max-width: 18.5rem;
}

.feedback__inner .button {
  margin-bottom: 1.25rem;
}

.feedback__inner .radios {
  margin-left: 2rem;
}

.radios {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.custom-checkbox {
  margin-bottom: 10px;
  width: fit-content;
}

.checkbox-label {
  font-size: 0.8rem;
}

.checkbox .checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary);
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.checkbox .checkbox-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.checkbox .checkbox-label {
  font-weight: 400;
  font-size: 10px;
}

.checkbox.custom-checkbox,
.checkbox.custom-checkbox .checkbox-label {
  width: 100%;
}

.checkbox.custom-checkbox a {
  display: inline;
  text-decoration: underline;
}

.checkbox.custom-checkbox input:checked + .checkbox-icon::before {
  background: url('/images/checkbox.svg') no-repeat center;
}

/* Result */
.result__table {
  margin-bottom: 2rem;
  max-width: 968px;
  margin-inline: auto;
}

.result__row {
  display: flex;
  text-align: center;
  font-size: 0.7rem;
}

.result__row:nth-child(even) {
  background: #f4f9ff;
}

.result__row:first-child {
  font-weight: 700;
}

.result__row span,
.result__row a {
  width: calc(100% / 5);
  padding: 1rem 0;
}

.result__row a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
}

.result__row a:hover {
  color: var(--primary);
}

.result__row a:hover path {
  stroke: var(--primary);
}

.result__row a svg {
  flex-shrink: 0;
}

.more {
  cursor: pointer;
  width: fit-content;
  margin-inline: auto;
  color: var(--primary);
  text-decoration: underline;
  font-size: 0.7rem;
  font-weight: 700;
}

/* Quiz */

.quiz .radios .checkbox-icon {
  border-color: var(--primary);
  width: 24px;
  height: 24px;
}

.quiz .radios .checkbox-icon::before {
  width: 14px;
  height: 14px;
}

.quiz .radios .custom-checkbox input:checked + .checkbox-icon::before {
  background: var(--primary);
}

.quiz__inner {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.quiz__items {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-basis: 640px;
}

.quiz__items + p {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.9;
  max-width: 22rem;
}

.quiz__items + p svg {
  flex-shrink: 0;
}

.quiz__item {
  display: none;
}

.quiz__item.quiz__active {
  display: unset;
}

.quiz__item h4 {
  font-weight: 700;
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
  color: var(--dark);
  opacity: 0.4;
}

.quiz__item h3 {
  display: flex;
  align-items: flex-start;
  gap: 1.3rem;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  flex-direction: column;
}

.quiz__item h3 span {
  font-style: italic;
  font-weight: 400;
  font-size: 0.7rem;
  opacity: 0.4;
  flex-shrink: 0;
}

.quiz .radios {
  margin-bottom: 0.6rem;
}

.quiz .custom-checkbox {
  margin-bottom: 1.3rem;
}

.quiz .checkbox-label {
  color: var(--dark);
  font-size: 0.8rem;
}

.quiz .control {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  max-width: 13rem;
}

.quiz .control button {
  text-align: center;
  flex-grow: 1;
}

.quiz .control span.back {
  background: none;
  color: var(--text);
}

.quiz .control button:hover span.back {
  background: linear-gradient(180deg, #0f73e7 0%, #044da3 100%);
  color: #fff;
}

.quiz .control .next:hover,
.quiz .control button:disabled span {
  background: none !important;
  color: var(--text) !important;
}

.quiz .control span {
  padding: 0.6rem;
}

.quiz .control button:disabled span {
  cursor: default;
}

.quiz__item .form__row input {
  border-color: var(--primary);
  color: var(--text);
}

.quiz__item .form__row input::placeholder {
  color: #1b202680;
}

.quiz__item:last-child .control {
  max-width: 18.5rem;
}

.variant-desc {
    font-size: 0.5em;
    color: grey;
}
