:root {
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-theme-color: var(--primary) !important;
}

.result__items {
  position: relative;
  overflow: hidden;
}
.result__item {
  display: flex;
  align-items: center;
  background: #f4f9ff;
}

.result__col {
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem !important;
}

.result__content {
  flex-shrink: 0;
  position: relative;
  padding: 2.5rem 1rem 4.5rem;
  font-size: 0.7rem;
}

.result__content h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.result__content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result__content li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.result__content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: var(--primary);
  opacity: 0.4;
}
.result__content ul svg {
  flex-shrink: 0;
}

.result__content li h4 {
  font-weight: 400;
}

.result__content li p {
  font-weight: 700;
}

.result__image {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding: 0 1rem 0 1.5rem;
}

.result__image img {
  width: 100%;
}

.result__image a {
  width: 100%;
  background: linear-gradient(180deg, #0f73e7 0%, #044da3 100%);
  border: 1px solid var(--primary);
  padding: 1rem;
  justify-content: center;
}

.result__image span {
  text-decoration: underline;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 400;
  background: none;
  border: none;
  padding: 0;
}

.control {
  margin-top: 3rem;
  position: relative;
  display: flex;
  gap: 5px;
  width: fit-content;
  align-items: center;
  margin-inline: auto;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  display: block !important;
  width: fit-content !important;
  height: fit-content !important;
  margin-top: 0 !important;
  color: var(--text) !important;
  font-size: 14px !important;
  background: #f9f9f9 !important;
  padding: 8px 4px !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: 700 !important;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.swiper-button-next:not(:disabled):hover,
.swiper-button-prev:not(:disabled):hover,
.swiper-pagination-bullet:hover {
  background: var(--primary) !important;
  color: #fff !important;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #ccc !important;
  display: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

.swiper-pagination {
  position: static !important;
  width: fit-content !important;
  display: flex !important;
  gap: 5px !important;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
  display: grid !important;
  place-items: center;
  opacity: 1 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border: 1px solid #f1f1f1;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.banner__inner {
  background: url('/images/result-banner.png') no-repeat left center/cover;
}

.banner__content {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  height: 16rem;
}

.banner__title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 27rem;
}

.banner__content svg {
  flex-shrink: 0;
}

/* Feedback */
.feedback__items {
  overflow: hidden;
}

.feedback__item {
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
}

.feedback__body {
  padding: 1rem 0.5rem 1rem 1.5rem;
  background: #f4f9ff;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.feedback__title {
  font-size: 0.8rem;
  font-weight: 700;
}

.feedback__text {
  line-height: 1.9;
}

.feedback__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.feedback__author a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.7rem;
  text-decoration: underline;
}

.feedback__header {
  flex-shrink: 0;
  position: relative;
  height: 16rem;
  background: #ccc;
}

@media (max-width: 1200px) {
  .result__item {
    width: fit-content;
    margin-inline: auto;
  }
}

@media (max-width: 640px) {
  .result__item {
    align-items: flex-start;
    flex-direction: column;
  }

  .banner__title {
    font-size: 1.2rem;
  }

  .result__content {
    width: 100%;
    padding: 1rem 1.5rem 2rem;
  }

  .result__image {
    padding-bottom: 1rem;
  }

  .result__content::before {
    height: 1px;
    width: 100%;
    top: unset;
    bottom: 10px;
    left: 0;
  }

  .swiper-pagination {
    flex-wrap: wrap;
  }

  .result__image .button {
    display: flex;
    border: 1px solid var(--primary);
  }

  .result__image .button:hover {
    background: none;
  }

  .result__image .button:hover path {
    stroke: var(--primary);
  }

  .result__image .button svg {
    display: block;
  }

  .feedback__item {
    width: fit-content !important;
  }
}
