.service__items {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.service__item {
  display: flex;
  overflow: hidden;
}

.service__content {
  flex-basis: 35rem;
}

.service__header {
  background: #f4f9ff;
  margin-bottom: 1rem;
  padding: 1.75rem 2.5rem;
  display: flex;
  align-items: center;
  min-height: 8rem;
}

.service__header h3 {
  font-weight: 700;
  font-size: 1rem;
}

.service__body {
  max-width: calc(100% - 4rem);
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
}

.service__footer {
  margin-left: 2.5rem;
}

.service__image {
  flex-basis: calc(100% - 35rem);
}

.service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__body p {
  font-size: 0.8rem;
}

.consult .service__body p:first-child {
  margin-bottom: 15px;
}

.consult .service__body span {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
}

#mfc .service__body h4 {
  margin-top: 0.7rem;
  font-weight: 700;
  font-size: 0.8rem;
}

.service__list {
  margin-top: 1.4rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.service__list li {
  display: flex;
  gap: 0.6rem;
  padding-left: 1.6rem;
  position: relative;
}

.service__list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(180deg, #0f73e7 0%, #044da3 100%);
}

.service__notice {
  margin-top: 1.2rem;
  font-style: italic;
  font-size: 0.7rem;
}

.civil .service__header {
  background: none;
  padding: 0;
  min-height: unset;
}

.civil .service__body,
.civil .service__footer {
  margin-left: 0px;
}

.civil .service__list {
  margin-left: 0.5rem;
}

.civil .service__body {
  max-width: unset;
}

.civil .service__item {
  gap: 1.3rem;
}

.civil .service__list p {
  font-size: 1rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 7vw;
  margin-bottom: 2.5rem;
}

.filter-mobile {
  display: none;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.filter-mobile:hover,
.filter-mobile:active {
  color: var(--primary);
}

.filter-mobile:hover path,
.filter-mobile:active path {
  stroke: var(--primary);
}

.filter-mobile p {
  font-size: 16px;
}

.filter .filter__item {
  cursor: pointer;
  position: relative;
  display: block;
  font-weight: 400;
}

.civil .service__item {
  display: none;
}

.civil .service__item.active {
  display: flex;
}

.filter .filter__item:hover::before,
.filter .filter__item:active::before,
.filter .filter__item.active::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary);
}

.filter .filter__item:hover,
.filter .filter__item:active,
.filter .filter__item.active {
  font-weight: 700;
}

.civil .service__header h4 {
  display: none;
}

.close-filter {
  display: none;
}

.modal-service__content {
  display: flex;
  gap: 1rem 2.7rem;
  margin-bottom: 2rem;
}

.service-modal .button {
  margin-inline: 0;
}

.consult__text {
  text-align: left;
  margin-bottom: 1.6rem;
  font-size: 0.7rem;
}

.service-modal .form__row {
  max-width: 20rem;
  margin-inline: 0;
}

.service-modal .form__row input {
  border-color: #f4f9ff;
}

.titles {
  display: flex;
  align-items: center;
  gap: 0.5rem 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.titles .modal__title {
  font-weight: 400;
  text-transform: unset;
}

.modal-service__right {
  flex-grow: 1;
}

.service-modal .modal__content {
  padding-top: 5rem;
  height: 100%;
  overflow: auto;
}

.titles .modal__title.active {
  font-weight: 700;
  text-transform: uppercase;
}

.titles .modal__title.active,
.titles .modal__title:active,
.titles .modal__title:hover {
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--primary);
}

.select {
  width: 100%;
  display: block;
}

.select__header {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.8rem;
  align-items: center;
  padding: 0.8rem 0.7rem 0.6rem;
  color: #fff;
  margin-left: 0;
  border: 1px solid #f4f9ff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

.select__header svg {
  flex-shrink: 0;
  stroke: #fff;
  fill: none;
}

.result-order {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.select__content {
  display: none;
  overflow: hidden;
}

.modal-service__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.select_date {
  width: 17rem;
}

.select_date .calendar {
  width: 17rem;
}

.select__content p {
  text-align: left;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border: 1px solid #f4f9ff;
  border-bottom: none;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.select__content p:last-child {
  border-bottom: 1px solid #f4f9ff;
}

.select__content p:hover,
.select__content p:active {
  background: var(--primary);
  color: #fff;
}

.select.active .select__content {
  display: block;
  margin-left: 0;
}
.select.active .select__header,
.select__header:hover,
.select__header:active {
  background: var(--primary);
}

.select.active .select__header svg,
.select__header:hover svg,
.select__header:active svg {
  stroke: #fff;
}

.select.active .select__header svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.service-modal form {
  width: 100%;
}

.calendar {
  color: #fff;
  border: 1px solid #fff;
}

.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #fff;
}

.calendar__prev-btn,
.calendar__next-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendar__month-year {
  font-size: 18px;
}

.calendar__body {
  padding-top: 0.5rem;
}

.calendar__weekdays {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}

.calendar__weekday {
  flex: 1;
  text-align: center;
  color: var(--primary);
}

.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__date {
  text-align: center;
  padding: 0.5rem 0.6rem;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.calendar__date.calendar__before {
  color: #726978;
}

.calendar__date::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--primary);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none;
}

.calendar__date:not(:empty):hover,
.calendar__date:not(:empty).selected {
  cursor: pointer;
}

.calendar__date:not(:empty):hover::before,
.calendar__date:not(:empty).selected::before {
  display: block;
}

@media (max-width: 1024px) {
  .service__image {
    flex-basis: calc(100% - 25rem);
  }

  .service__content {
    flex-basis: 25rem;
  }

  .service__body,
  .service__footer {
    margin-left: 1.5rem;
  }

  .service__header {
    padding-left: 1.5rem;
  }

  .service__header h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .service__item {
    flex-direction: column-reverse;
  }

  .civil .service__item {
    flex-direction: column;
  }

  .service__content,
  .service__image {
    flex-basis: auto;
  }

  .service__image img {
    max-height: 15rem;
  }

  .service.gerb::before {
    content: none;
  }

  .service__header {
    min-height: 6rem;
    padding-left: 1rem;
  }

  .service__body,
  .service__footer {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  #mfc .service__list,
  #mfc .service__body h4 {
    display: none;
  }

  .service__header {
    min-height: unset;
  }

  .filter {
    position: absolute;
    top: -1000px;
    left: 0;
    color: #fff;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 375px;
    z-index: 100;
    padding: 125px 15px 65px;
    align-items: flex-start;
    font-size: 20px;
    background: var(--dark);
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
  }

  .filter.active {
    top: 0;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
  }

  .close-filter {
    cursor: pointer;
    position: absolute;
    top: 36px;
    left: 15px;
    display: block;
  }

  .filter-mobile {
    width: fit-content;
    display: flex;
    margin-bottom: 18px;
  }

  .civil .service__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .civil .service__header h4 {
    display: block;
  }
}

@media (max-width: 480px) {
  .service__image img {
    max-height: 10rem;
  }

  .filter {
    max-width: unset;
  }
}
