.team__items:not(:last-child) {
  margin-bottom: 3.4rem;
}

.team__items {
  position: relative;
}

.team__title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.6rem;
  font-family: 'Gentium Book Basic', sans-serif;
  text-transform: uppercase;
}

.swiper-container {
  max-width: calc(100% - 46px - 2.8rem);
  overflow: hidden;
}
.team__item {
  position: relative;
  width: 100%;
  background: #bdbdbd;
}

.team__image {
  overflow: hidden;
  height: 12rem;
  padding: 1rem;
}

.team__image.no-image {
  background: url('/images/team-ph.svg') no-repeat center;
}

.swiper-button-lock {
  display: flex !important;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}
.team__content {
  background: linear-gradient(180deg, #0f73e7 0%, #044da3 100%);
  color: #fff;
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
  padding: 1.4rem 0.5rem;
}

.team__content h3 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.team__content h4 {
  font-size: 0.7rem;
  font-weight: 400;
}
.team__content h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

.swiper-button-next {
  --swiper-navigation-sides-offset: 0;
  width: 46px !important;
  height: 46px !important;
}

.swiper-button-next::after {
  content: none !important;
}

@media (max-width: 900px) {
  .team__image {
    background-size: 120px;
  }
}

@media (max-width: 640px) {
  .team__item {
    width: fit-content;
  }
  .team__image {
    background-size: 100px;
  }
}
