@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Vars */
:root {
  --border: #eeeeee;
  --text: #333333;
  --primary: #4d59a1;
}
/* Vars */
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

button {
  border: 2px solid var(--primary);
  text-align: center;
  padding: 10px 16px;
  cursor: pointer;
  color: #fff;
  display: grid;
  background: var(--primary);
  border-radius: 4px;
  place-items: center;
  width: fit-content;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-left: auto;
  margin-top: 16px;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
}

button:hover,
button:active,
button:focus-within {
  background: transparent;
  color: var(--primary);
}

input {
  position: relative;
  display: flex;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  padding-right: 30px;
  font-size: 1rem;
  border: 1px solid var(--border);
  font-weight: 300;
  color: var(--text);
  width: 100%;
  border-radius: 4px;
  max-width: 100%;
  border-radius: calc(var(--radius) - 5px);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

input::placeholder {
  color: #666;
}

input:focus,
input:active {
  border-color: var(--primary);
}

a {
  display: block;
  transition: 0.3s ease;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background: #eceff4;
  color: var(--text);
}

.card {
  max-width: 320px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0px 4px 7px 0px rgba(121, 126, 147, 0.06);

}

.card_header {
  padding: 18px 25px;
  border-bottom: 1px solid var(--border);
}

.contact_form_body {
  padding: 20px 25px 25px;
}

.title {
  font-size: 14px;
  font-weight: 400;
}

.contact_form {
  margin-bottom: 20px;
}

.contact__items {
  max-height: 230px;
  overflow: auto;
}
.contact__item {
  padding: 18px 25px;
}

.contact__item:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
.contact__item-title {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-top: -2px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact__item-phone {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.contact_delete {
  width: fit-content;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  cursor: pointer;
}

.contact_delete:hover {
  color: red;
}