/* PROMO */
.promo {
  position: relative;
}

.promo::before {
  content: '';
  position: absolute;
  top: -6rem;
  left: -4rem;
  display: block;
  width: 20rem;
  height: 20rem;
  background: url("/images/decor/circle.svg") no-repeat center;
  z-index: -1;
  user-select: none;
}
.promo_top {
  padding: 14rem 0 6rem;
  background: url('/images/infographics/promo.svg') no-repeat;
  background-position: 100% 100%;
}

.promo_title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 4px;
  max-width: 44rem;
}

.promo_text {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
  max-width: 24rem;
}

.promo_control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 35rem;
}

.promo_control .button {
  padding: 1rem 2.2rem;
  box-shadow: none;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.promo_bottom {
  padding: 1.25rem 0;
  background: linear-gradient(
    180deg,
    rgba(0, 180, 20, 0.7) 0%,
    rgba(0, 163, 187, 0.7) 100%
  );
}

.promo_bottom_items {
  display: flex;
}
.promo_bottom_item {
  padding: 0 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.promo_bottom_item:not(:last-child) {
  border-right: 1px solid #01ae51;
}

.promo_bottom_item:not(:nth-child(2)) {
  padding: 0 3rem;
}

.promo_bottom_item_title {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

/* QUALITY */

.quality_items {
  --radius: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.quality_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  border: 0.5px solid #000;
  gap: 1.2rem;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.quality_item_title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
}

.quality_item:not(:nth-child(4)) .quality_item_title {
  max-width: 18rem;
}

.quality_item1 {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: var(--radius) 0 var(--radius) 0;
  -webkit-border-radius: var(--radius) 0 var(--radius) 0;
  -moz-border-radius: var(--radius) 0 var(--radius) 0;
  -ms-border-radius: var(--radius) 0 var(--radius) 0;
  -o-border-radius: var(--radius) 0 var(--radius) 0;
}
.quality_item2 {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 0 0 var(--radius) var(--radius);
  -webkit-border-radius: 0 0 var(--radius) var(--radius);
  -moz-border-radius: 0 0 var(--radius) var(--radius);
  -ms-border-radius: 0 0 var(--radius) var(--radius);
  -o-border-radius: 0 0 var(--radius) var(--radius);
}
.quality_item3 {
  grid-area: 1 / 3 / 2 / 4;
  border-radius: 0 var(--radius) 0 var(--radius);
  -webkit-border-radius: 0 var(--radius) 0 var(--radius);
  -moz-border-radius: 0 var(--radius) 0 var(--radius);
  -ms-border-radius: 0 var(--radius) 0 var(--radius);
  -o-border-radius: 0 var(--radius) 0 var(--radius);
}
.quality_item4 {
  grid-area: 2 / 1 / 3 / 4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.quality_item5 {
  grid-area: 3 / 1 / 4 / 2;
  border-radius: 0 var(--radius) 0 0;
  -webkit-border-radius: 0 var(--radius) 0 0;
  -moz-border-radius: 0 var(--radius) 0 0;
  -ms-border-radius: 0 var(--radius) 0 0;
  -o-border-radius: 0 var(--radius) 0 0;
}
.quality_item6 {
  grid-area: 3 / 2 / 4 / 3;
  border-radius: var(--radius) var(--radius) 0 0;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.quality_item7 {
  grid-area: 3 / 3 / 4 / 4;
  border-radius: var(--radius) 0 0 0;
  -webkit-border-radius: var(--radius) 0 0 0;
  -moz-border-radius: var(--radius) 0 0 0;
  -ms-border-radius: var(--radius) 0 0 0;
  -o-border-radius: var(--radius) 0 0 0;
}

/* Record */
.record_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.7rem;
}

.record_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
}

.record_col:not(:nth-child(2)) {
  padding: 1rem 0;
}

.record_button {
  background: transparent;
  border-color: #000;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  font-size: 1.1rem;
  font-weight: 300;
  color: #000;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.record_button:hover,
.record_button:active,
.record_button:focus {
  border-color: var(--secondary);
}

.record_button:hover path,
.record_button:active path,
.record_button:focus path {
  stroke: #fff;
}

.record_row + .button {
  margin-top: 2.7rem;
  margin-inline: auto;
  padding: 2rem;
  border-radius: calc(var(--radius) - 5px);
  -webkit-border-radius: calc(var(--radius) - 5px);
  -moz-border-radius: calc(var(--radius) - 5px);
  -ms-border-radius: calc(var(--radius) - 5px);
  -o-border-radius: calc(var(--radius) - 5px);
}

/* TARIF */
.tarif {
  position: relative;
}

.tarif::before,
.tarif::after {
  content: '';
  position: absolute;
  bottom: 5rem;
  left: 0;
  display: block;
  width: 10rem;
  height: 10rem;
}

.tarif::before {
  background: url("/images/decor/money1.png") no-repeat center;
}

.tarif::after {
  left: auto;
  right: 0;
  background: url("/images/decor/money2.png") no-repeat center;
}

.tarif_cards {
  --min: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--min));
  gap: 10px 2.8rem;
  justify-content: center;
}

.tarif_card {
  padding: 1.2rem 0 1.8rem;
  border-radius: calc(var(--radius) - 5px);
  border: 0.5px solid var(--border);
  -webkit-border-radius: calc(var(--radius) - 5px);
  -moz-border-radius: calc(var(--radius) - 5px);
  -ms-border-radius: calc(var(--radius) - 5px);
  -o-border-radius: calc(var(--radius) - 5px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.tarif_card_header {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--border);
}
.tarif_card_title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #1e1e1e;
  text-align: center;
}
.tarif_card_body {
  width: 100%;
  padding: 1.8rem 2rem 4rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.tarif_card_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tarif_card_list_item {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
}

.tarif_card_list_item span {
  font-size: 0.7rem;
}

.tarif_card_list_item svg {
  flex-shrink: 0;
  margin-top: 6px;
}
.tarif_card_footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.tarif_card_footer_wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}
.tarif_card_price {
  text-align: center;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
}
.tarif_button {
  width: 11rem;
}

/* GUARANTEE */

.guarantee {
  position: relative;
}

.guarantee::before,
.guarantee::after {
  content: '';
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.guarantee::before {
  width: 8rem;
  left: 10%;
  height: 12rem;
  background: url("/images/decor/spiral.svg") no-repeat center;
}

.guarantee::after {
  left: auto;
  width: 20rem;
  height: 20rem;
  top: 60%;
  right: 0;
  background: url("/images/decor/grid.svg") no-repeat center;
}

.guarantee_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  flex-direction: column;
  text-align: center;
}

.guarantee_title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 2.75rem 0 1.25rem;
  max-width: 30rem;
}
.guarantee_sub-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.75rem;
}
.guarantee_sub-title + img {
  transform: rotate(180deg);
  margin-bottom: 2.25rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* FREE */
.free_title {
  margin-bottom: 10px;
}

.free_row {
  margin-bottom: 3.5rem;
}

.free_text {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  max-width: 46.5rem;
}
.free_left {
  flex-basis: 38rem;
}

.free_video {
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  overflow: hidden;
  background: url('/images/free.png') no-repeat center center/cover;
}

.free_right {
  flex-basis: calc(100% - 38rem - 1rem);
}

/* DELIVERY */
.delivery {
  position: relative;
}

.delivery_title {
  text-align: center;
}
.delivery_items {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1220px;
  margin-inline: auto;
  padding-bottom: 4rem;
  overflow: hidden;
  color: #000;
}
.delivery_items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 100%;
  background: var(--primary);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.delivery::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  display: block;
  width: 20rem;
  height: 20rem;
  background: url("/images/decor/grid.svg") no-repeat right;


}
.delivery_item {
  position: relative;
  width: fit-content;
  text-align: center;
  padding-right: 2rem;
  width: 50%;
}

.delivery_item:nth-child(even) {
  margin-left: auto;
  padding-right: 0;
  border-right: none;
  padding-left: 2rem;
}

.delivery_item_title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.delivery_img {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.delivery_text {
  font-size: 1.1rem;
  font-weight: 300;
}
.delivery_item_right {
  --size: 2.8rem;
  position: absolute;
  top: 50%;
  right: calc(-1 * (var(--size) / 2));
  width: var(--size);
  height: var(--size);
  background: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.delivery_item:nth-child(even) .delivery_item_right {
  right: auto;
  left: calc(-1 * (var(--size) / 2));
}

.delivery_item:first-child .delivery_item_right {
  top: calc((var(--size) / 2));
}

.delivery_item_right_last {
  top: auto;
  bottom: calc(-4.2rem + var(--size));
  right: calc(50% - (var(--size) / 2));
}

/* REGION */
.region {
  position: relative;
}

.region::before {
  content: '';
  position: absolute;
  bottom: -30%;
  right: -10%;
  display: block;
  width: 20rem;
  height: 20rem;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  z-index: -1;
  background: url("/images/decor/grid.svg") no-repeat center;
} 
.region_sub-title {
  margin: 2rem 0;
  max-width: 45rem;
  margin-inline: auto;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}


/* GIFT */

.gift_title {
  margin-bottom: 0;
}

.gift_title span {
  color: var(--primary);
}

.gift_items {
  margin-bottom: 3rem;
}

.gift_item {
  padding-top: 2.2rem;
  border-top: 1px solid var(--title);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.gift_row {
  align-items: flex-start;
}

.gift_left {
  padding-top: 2.5rem;
  flex-basis: 27rem;
}

.gift_right {
  flex-basis: calc(100% - 1rem - 27rem);
}

.gift_item svg {
  flex-shrink: 0;
}

.gift_item_title {
  color: var(--title);
  font-size: 1.2rem;
  font-weight: 300;
}

/* Thanks */
.thanks {
  padding: 4rem 0 6rem;
  color: var(--title);
}
.thanks__title {
  text-transform: unset;
  font-size: 3.5rem;
  margin-bottom: 4px;
}
.box-with-img {
  gap: 2rem;
}
.thanks-sub-title {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.thanks-pres {
  margin-top: 3.2rem;
}
.thanks-pres-title {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.box-with-img_right {
}